// font 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.cdnfonts.com/css/delmon-delicate');
@import url('https://fonts.cdnfonts.com/css/microsoft-yahei');

html {
    font-size: 62.5%;
}

$primary-sea-color: #79A2AA;
$primary-brown-color: #625956;
$primary-black-color: #18181B;

$secondary-yellow-color: #FFD075;
$secondary-orange-color: #F89426;
$secondary-beige-color: #F9F6F0;
$secondary-white-color: #FFFDFA;
$secondary-grey-color: #DCDDDE;


$success-color:#54AF91;
$fail-color:#EA5F5F;
$dark-grey: #66686A;
$link-color:#3388CC;

@mixin main-font{
    font-family: Montserrat !important;
}

@mixin small-title {
    font-size: 6px !important;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.15em;
    text-align: right;    
}

@mixin header {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
}

@mixin sub-header{
    font-family: Delmon Delicate !important;
    font-size: 20px !important;
    font-weight: 400;
}

@mixin body-text{
    font-family: Montserrat;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 26px;
}

@mixin caption{
    font-family: Montserrat;
    font-size: 14px !important;
    font-weight: 300;
    line-height: 17px;
}

@mixin title{
    font-family: Montserrat;
    font-size: 12px !important;
    font-weight: 400;
    line-height: 17px;
}

@mixin button{
    border: none !important;
    padding: 10px 25px;
	background-color: $secondary-orange-color !important;
    border-radius: 0 !important;
    text-transform: uppercase;
}

@mixin black-text{
    color: $primary-black-color !important;
}

@mixin hover-underline{
    background-color: transparent !important;
    text-decoration: underline;
    transition: 0.3s;
    text-underline-offset: 4px;
}

@mixin text-column{
    font-family: Montserrat;
    font-size: 12px !important;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.15em !important;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif !important;
    @include black-text();
}

body {
    font-family: 'Montserrat', sans-serif !important;
    @include black-text();
}

#base_page\:gform > .ui-btn.ui-input-btn.ui-corner-all.ui-shadow, #base_page\:locform\:languageSelect_input-button, #base_page\:locform\:currencySelect_input-button, [id*=ppstdform] > .ui-btn{
    @include button();
    @include text-column();
}

.ui-outputlabel.ui-widget,
.ui-column-title{
    @include text-column();
    text-transform: uppercase;
}

.rbn-yb-searchtext{
    @include body-text();
    line-height: 26px;
    text-align: center;
    max-width: 949px;
}

.ui-link{
    color: $link-color !important;
    text-decoration: none !important;
}

.gridcell > span{
    @include body-text();
}


.ui-panel-m-titlebar.ui-bar.ui-bar-inherit, .ui-btn .ui-panel-collapsible-heading-toggle, .ui-icon-minus:after, .ui-icon-plus:after{
    background-color: $dark-grey !important;
    color: white !important;
}

.accordion-title.rbn-bold{
    @include body-text();
}

.ui-panel-m-titlebar.ui-bar.ui-bar-inherit, .ui-btn .ui-panel-collapsible-heading-toggle, .ui-icon-minus:after, .ui-icon-plus:after{
    color: $secondary-orange-color !important;
}

#base_page:locform:languageSelect_input-button{
    @include text-column();
    @include body-text();
}

#base_page:guest-intranet-greeting{
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

div#base_page\:j_idt43{
    margin-top: 4rem;
    margin-bottom: 5rem;
}

span#base_page\:guest-intranet-greeting::after {
    @include body-text();
    line-height: 26px;
    display: block;
    margin-top: 1.6rem;
    content: "Scroll down to view reservations and payment status.";
}

.rb-footer{
    display: none;
}

a#base_page\:txtab\:2\:f1\:toPDFNew .ui-link{
    text-decoration: underline !important;
    text-underline-offset: 4px;
}

.ui-table-reflow td{
    vertical-align: middle;
}

.ui-input-text{
    @include body-text();
    line-height: 26px;

    border: 1px solid $secondary-grey-color;
    border-radius: none !important;
    padding: 1.2rem 2rem !important;
}

div#base_page\:gform\:gem,
div#base_page\:gform\:gid{
    box-shadow: none !important;
    border-radius: 0 !important;

    input{
        padding: 0!important;
    }

    .ui-btn.ui-icon-delete{
        color: $secondary-grey-color !important;
    }
}

.ui-field-contain{
    display: flex;
    align-items: center;
}





.rbn-yb-searchtext{
    margin-top: 2rem !important;
    display: block;
    margin: auto;
}

form#base_page\:gform{
    margin-top: 40px;

    .ui-field-contain{
        &:first-child{
            padding: 0!important;
        }
    }
}

div#base_page\:j_idt49{
    margin-top: 4rem;
}

.ui-content{
    padding: 0 1em 55px 1em;
}

.ui-field-contain:first-child{
    margin-top: 0!important;
}
/*======================SECTION=========================*/

div#base_page\:base_header{
    .rb-header{
        height: 140px!important;
    
        .ui-btn-icon-right{
            &:after{
                @include black-text();
                background-color: transparent !important;
            } 
        }

        div#base_page\:locform\:languageSelect_input-button{
            margin-top: 20px !important;
            margin-right: 18px !important;
        }
    }
}

div#base_page\:locform\:languageSelect_input-button{
    display: flex;
    align-items: baseline;

    span{
        margin-right: 5px;
    }
}

.ui-icon-carat-d:after{
    width: 1px;
    height: 2px;
    background-image: none !important;
    background-color: transparent !important;
    @include black-text();
    transform: rotate(45deg);
    border: solid black;
    border-width: 0 1.5px 1.5px 0;
    display: inline-block;
    padding: 3px;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 1.5px solid black !important;
    margin-top: 0!important;
    position: relative;
    margin-left: 5px;
}

div#base_page\:tabview{
    margin-top: 40px;

    .accordion-bar-content{

        .accordion-status {
            @include title();
            text-transform: lowercase !important;
            line-height: 19px;
            padding: 14px 20px;
            color: white !important;
        }
        
        .accordion-status::first-letter{
            text-transform: uppercase !important;
        }
        
        .res{
            background-color: $success-color !important;
        }
        
        .na {
            background-color: $fail-color !important;
        }
    }
}

div#base_page\:vendorMessagePanel{
    margin-top: 40px !important;
    .ui-panel-m-titlebar{
        padding: 0.9rem 2rem !important;
    }

    .ui-panel-m-content{
        min-height: 70px;
    }
    
    h3{
        @include header();
        color: white !important;
    }

    a{
        right: 2rem !important;
    }
}

div#base_page\:txtab{
    margin-top: 40px;

    .ui-link{
            text-decoration: underline !important;
            text-underline-offset: 4px;
    }

    tbody#base_page\:txtab_data{
        .ui-btn{
            @include button();
            @include title();
            letter-spacing: 0.15em !important;
            text-transform: uppercase !important;
            background-color: $secondary-orange-color;
            text-shadow: none !important;
        } 
        .ui-shadow{
            box-shadow: none !important;
        }
    }
    
}


.ui-collapsible-content{

    .ui-grid-solo{
        .rbn-bold{
            @include sub-header();
        }

        .ui-block-a{
            margin-top: 1.6em;
            @include body-text();
            font-family: Montserrat;
            line-height: 26px;
        }
    }
    
}

.table-stripe tbody tr:nth-child(odd) td,.table-stripe tbody tr:nth-child(odd) th {
    background-color: $secondary-grey-color !important;
}

.table-stripe tbody tr:nth-child(even) td,.table-stripe tbody tr:nth-child(even) th {
    background-color: #F4F4F4 !important;
}

.ui-btn-icon-right:after{
    border-radius: 0 !important;
}

.ui-btn-icon-left{
    padding-left: 0 !important;
}
// mobile 
@media (max-width: 35em){
    // input 
    .ui-field-contain{
        flex-direction: column;
        align-items: flex-start;
        border-bottom: 0 !important;
    }

    div#base_page\:gform\:gid, .ui-body-a, .ui-page-theme-a .ui-body-inherit{
        width: 100% !important;
    }

    //more 
    div#base_page\:tabview\:j_idt627{
        text-align: left;
    }

    /* table */
    .ui-table th, .ui-table td{
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
    }

    .ui-table-cell-label, .ui-block-a > span{
        text-transform: uppercase;
        @include title();
        font-weight: 500;
        line-height: 19px;
        letter-spacing: 0.15em;
    }

    .ui-table-cell-label{
        width: 50% !important;
        flex: 0;
    }

    td.rbn-dtcol{
        display: flex !important;
    }

    .accordion-bar-content{
        tr:first-child{
            align-items: end;
        }
    }
    //collapse detail
    .ui-collapsible-content{
        div[id^="base_page:tabview:resultTable"] {
            // td {
            //     display: flex !important;
            // }
    
            // .ui-table-cell-label{
            //     flex: 0;
            //     width: 40% !important;
            // }
        }

        span[id$=":prodname"]{
            font-weight: 400!important;
        }

        div[id^="base_page:tabview:orderItemTable"]{
            td{
                display: flex !important;
                flex-wrap: wrap;
                align-items: center;
            }

            .ui-table-row{
                // b.ui-table-cell-label {
                //     width: 40% !important;

                //     span{
                //         width: 40% !important;
                //     }
                // }

                // span{
                //     width: 60%;
                // }

                .ui-datagrid{
                    .ui-block-a{
                        display: flex;
                    }

                    // span{
                    //     width: 40% !important;
                    // }
                }
            }
        }

        span[id$=":receivedMessageText"]{
            display: block;
            float: right;
            width: 50%;
            padding-left: 1rem;
            clear: both;
            padding-top: 0!important;
            margin-bottom: 1rem;
        }

    }

    .ui-table-reflow.ui-responsive td{
        &:first-child{
            form{
                margin-top: 1rem;
                width: 50%;
                text-align: left;
                float: right;
                clear: both;
            }
            
        }

        &:last-child{
            padding-top: 0 !important;
        }

    }
}