// font 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.cdnfonts.com/css/delmon-delicate');
@import url('https://fonts.cdnfonts.com/css/microsoft-yahei');

html {
    font-size: 62.5%;
}

$primary-sea-color: #79A2AA;
$primary-brown-color: #625956;
$primary-black-color: #18181B;

$secondary-yellow-color: #FFD075;
$secondary-orange-color: #F89426;
$secondary-beige-color: #F9F6F0;
$secondary-white-color: #FFFDFA;
$secondary-grey-color: #DCDDDE;


$success-color:#54AF91;
$fail-color:#EA5F5F;
$dark-grey: #66686A;
$link-color:#3388CC;

@mixin main-font{
    font-family: Montserrat !important;
}

@mixin small-title {
    font-size: 6px !important;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.15em;
    text-align: right;    
}

@mixin header {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
}

@mixin sub-header{
    font-family: Delmon Delicate !important;
    font-size: 20px !important;
    font-weight: 400;
}

@mixin body-text{
    font-family: Montserrat;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 26px;
}

@mixin caption{
    font-family: Montserrat;
    font-size: 14px !important;
    font-weight: 300;
    line-height: 17px;
}

@mixin title{
    font-family: Montserrat;
    font-size: 12px !important;
    font-weight: 400;
    line-height: 17px;
}

@mixin button{
    border: none !important;
    padding: 10px 25px;
	background-color: $secondary-orange-color !important;
    border-radius: 0 !important;
    text-transform: uppercase;
}

@mixin black-text{
    color: $primary-black-color !important;
}

@mixin hover-underline{
    background-color: transparent !important;
    text-decoration: underline;
    transition: 0.3s;
    text-underline-offset: 4px;
}

@mixin text-column{
    font-family: Montserrat;
    font-size: 12px !important;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.15em !important;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif !important;
    @include black-text();
}

body {
    font-family: 'Montserrat', sans-serif !important;
    @include black-text();
}

#base_page\:gform > .ui-btn.ui-input-btn.ui-corner-all.ui-shadow, #base_page\:locform\:languageSelect_input-button, #base_page\:locform\:currencySelect_input-button, [id*=ppstdform] > .ui-btn{
    @include button();
    @include text-column();
}

.ui-outputlabel.ui-widget,
.ui-column-title{
    @include text-column();
    text-transform: uppercase;
}

.rbn-yb-searchtext{
    @include body-text();
    line-height: 26px;
    text-align: center;
    max-width: 949px;
}

.ui-link{
    color: $link-color !important;
    text-decoration: none !important;
}

.gridcell > span{
    @include body-text();
}


.ui-panel-m-titlebar.ui-bar.ui-bar-inherit, .ui-btn .ui-panel-collapsible-heading-toggle, .ui-icon-minus:after, .ui-icon-plus:after{
    background-color: $dark-grey !important;
    color: white !important;
}

.accordion-title.rbn-bold{
    @include body-text();
}

.ui-panel-m-titlebar.ui-bar.ui-bar-inherit, .ui-btn .ui-panel-collapsible-heading-toggle, .ui-icon-minus:after, .ui-icon-plus:after{
    color: $secondary-orange-color !important;
}

#base_page:locform:languageSelect_input-button{
    @include text-column();
    @include body-text();
}

#base_page:guest-intranet-greeting{
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

div#base_page\:j_idt43{
    margin-top: 4rem;
    margin-bottom: 5rem;
}
div#base_page\:j_idt43:after {
    @include body-text();
    line-height: 26px;
    margin-top: 1.6rem;
    content: "\a Scroll down to view reservations and payment status.";
    white-space: pre;
}

.rb-footer{
    display: none;
}

a#base_page\:txtab\:2\:f1\:toPDFNew .ui-link{
    text-decoration: underline !important;
    text-underline-offset: 4px;
}

.ui-table-reflow td{
    vertical-align: middle;
}

.ui-input-text{
    @include body-text();
    line-height: 26px;

    border: 1px solid $secondary-grey-color;
    border-radius: none !important;
    padding: 1.2rem 2rem !important;
}

div#base_page\:gform\:gem,
div#base_page\:gform\:gid{
    box-shadow: none !important;

    input{
        padding: 0!important;
    }

    .ui-btn.ui-icon-delete{
        color: $secondary-grey-color !important;
    }
}

.ui-field-contain{
    display: flex;
    align-items: center;
}





.rbn-yb-searchtext{
    margin-top: 2rem !important;
    display: block;
    margin: auto;
}

form#base_page\:gform{
    margin-top: 40px;
}

.ui-content{
    padding: 0 1em 55px 1em;
}

.ui-field-contain:first-child{
    margin-top: 0!important;
}
/*======================SECTION=========================*/

div#base_page\:base_header{
    .rb-header{
        height: 140px!important;
    
        .ui-btn-icon-right{
            &:after{
                @include black-text();
                background-color: transparent !important;
            } 
        }

        div#base_page\:locform\:languageSelect_input-button{
            margin-top: 20px !important;
            margin-right: 18px !important;
        }
    }
}

div#base_page\:tabview{
    margin-top: 40px;

    .accordion-bar-content{

        .accordion-status {
            @include title();
            text-transform: lowercase !important;
            line-height: 19px;
            padding: 14px 20px;
            color: white !important;
        }
        
        .accordion-status::first-letter{
            text-transform: uppercase !important;
        }
        
        .res{
            background-color: $success-color !important;
        }
        
        .na {
            background-color: $fail-color !important;
        }
    }
}

div#base_page\:vendorMessagePanel{
    margin-top: 40px !important;
    .ui-panel-m-titlebar{
        padding: 0.9rem 2rem !important;
    }

    .ui-panel-m-content{
        min-height: 70px;
    }
    
    h3{
        @include header();
        color: white !important;
    }
    a{
        &::after{
            right: 2rem !important;
        }
    }
}

div#base_page\:txtab{
    margin-top: 40px;
}