// font 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.cdnfonts.com/css/delmon-delicate');
@import url('https://fonts.cdnfonts.com/css/microsoft-yahei');

$primary-sea-color: #79A2AA;
$primary-brown-color: #625956;
$primary-black-color: #18181B;

$secondary-yellow-color: #FFD075;
$secondary-orange-color: #F89426;
$secondary-beige-color: #F9F6F0;
$secondary-white-color: #FFFDFA;
$secondary-grey-color: #DCDDDE;

$success-color:#54AF91;
$fail-color:#EA5F5F;
$dark-grey: #66686A;
$link-color:#3388CC;

@mixin main-font{
    font-family: Montserrat !important;
}

@mixin small-title {
    font-size: 6px !important;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.15em;
    text-align: right;    
}

@mixin header {
    font-family: Montserrat;
    font-size: 18px !important;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
}

@mixin sub-header{
    font-family: Delmon Delicate !important;
    font-size: 20px !important;
    font-weight: 400;
}

@mixin body-text{
    font-family: Montserrat;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 26px;
}

@mixin caption{
    font-family: Montserrat;
    font-size: 14px !important;
    font-weight: 300;
    line-height: 17px;
}

@mixin title{
    font-family: Montserrat;
    font-size: 12px !important;
    font-weight: 400;
    line-height: 17px;
}

@mixin button{
    border: none !important;
    padding: 10px 25px;
	background-color: $secondary-orange-color !important;
    border-radius: 0 !important;
    text-transform: uppercase;
}

@mixin black-text{
    color: $primary-black-color;
}

@mixin hover-underline{
    background-color: transparent !important;
    text-decoration: underline;
    transition: 0.3s;
    text-underline-offset: 4px;
}

*{
    @include main-font();
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 62.5%;
}

// general 

html .ui-button-text{
    @include main-font();
    @include black-text();
    letter-spacing: 0.15em;
    font-weight: 400 !important;
}

html .ui-corner-all{
border-radius: 0 !important;
}

/* begin top menu section */

// selection
.ui-btn-right{
    label{
        @include body-text();
    }
}
.ui-selectonemenu-items-wrapper{
    line-height: 26px !important;

    ul{
        li{
            @include body-text();

            &::hover{
                @include hover-underline();
                background-color: transparent !important;
            }
        }
        
    }
}

html .ui-widget-content .ui-state-highlight{
    color: $primary-black-color !important
}

.ui-selectonemenu-trigger{
    padding: 0 !important;
    .ui-icon{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

html .ui-selectonemenu .ui-selectonemenu-trigger .ui-icon{
    margin: 0 !important;
}


.ui-widget-content .ui-state-highlight{
    @include body-text();
    background-color: transparent !important;
    text-underline-offset: 4px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: $secondary-orange-color;
}

.vc-chip-container .chip {
    @include body-text();
    background-color: white !important;    

    > .ui-button-text{
        font-weight: 400!important;
    }
}
/* end top menu section */


/* begin menu section */
.rb-vendor-text, 
.rb-parent-cat-text{
    @include sub-header();
    font-size: 22px !important;
}

html[lang="en"] #orderForm:vndcat button{
    @include button();
    border: 1px solid $secondary-grey-color;
}
/* end menu section */

/* begin list section */
.flex-item {
    margin: 0 10px 10px 10px !important;
    padding: 0 !important;
    padding-bottom: 10px !important;

    label{
        @include body-text();
        font-weight: 500 !important;
    }
}

.rb-vendor-description{
    @include caption();
}
/* end list section */




/* begin dialog section */

// header
.ui-dialog-titlebar{
    @include black-text();
    span{
        background-color: $secondary-grey-color !important;
    }
}

// warning messages
.ui-growl-item{
    display: flex;
    align-items: center;
    background-color: $fail-color;

    
    
}
.ui-growl-message{
    padding: 0 !important;

    span{
        padding: 0 !important;
    }
}

.rb-prod-dialog-but{
    background-color: $secondary-orange-color;
    padding: 13px 0 !important; 

    #orderForm\:butpg{
        padding: 0 !important; 
    }

    .button#orderForm\:addbtn{
        padding: 0 !important;
    }

    .ui-button-text{
        @include caption();
        @include black-text();
        padding: 0 !important;
        background-color: $secondary-orange-color;
        font-weight: 400 !important;
    }

    .ui-button.ui-widget.ui-state-default{
        border: 0;
    }
}

/* end dialog section */