// font 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.cdnfonts.com/css/delmon-delicate');
@import url('https://fonts.cdnfonts.com/css/microsoft-yahei');

$primary-sea-color: #79A2AA;
$primary-brown-color: #625956;
$primary-black-color: #18181B;

$secondary-yellow-color: #FFD075;
$secondary-orange-color: #F89426;
$secondary-beige-color: #F9F6F0;
$secondary-white-color: #FFFDFA;
$secondary-grey-color: #DCDDDE;

@mixin main-font{
    font-family: Montserrat !important;
}

@mixin small-title {
    font-size: 6px !important;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.15em;
    text-align: right;    
}

@mixin header {
    font-family: Montserrat;
    font-size: 18px !important;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
}

@mixin sub-header{
    font-family: Delmon Delicate !important;
    font-size: 20px !important;
    font-weight: 400;
}

@mixin body-text{
    font-family: Montserrat;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 26px;
}

@mixin caption{
    font-family: Montserrat;
    font-size: 14px !important;
    font-weight: 300;
    line-height: 17px;
}

@mixin title{
    font-family: Montserrat;
    font-size: 12px !important;
    font-weight: 400;
    line-height: 17px;
}

@mixin button{
    border: none !important;
    padding: 10px 25px;
	background-color: $secondary-orange-color !important;
    border-radius: 0 !important;
    text-transform: uppercase;
}

@mixin black-text{
    color: $primary-black-color !important;
}

@mixin hover-underline{
    background-color: transparent !important;
    text-decoration: underline;
    transition: 0.3s;
    text-underline-offset: 4px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// general 

html[lang="en"] .ui-button-text{
    @include main-font();
    @include black-text();
    letter-spacing: 0.15em;
    font-weight: 400 !important;
}

html[lang="en"] .ui-corner-all{
border-radius: 0 !important;
}

/* begin top menu section */

// selection
.ui-btn-right{
    label{
        @include body-text();
    }
}
.ui-selectonemenu-items-wrapper{
    line-height: 26px !important;

    ul{
        li{
            @include body-text();

            &::hover{
                @include hover-underline();
                background-color: transparent !important;
            }
        }
        
    }
}

html[lang="en"] .ui-widget-content .ui-state-highlight{
    color: $primary-black-color !important
}

.ui-selectonemenu-trigger{
    padding: 0 !important;
    .ui-icon{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

html[lang="en"] .ui-selectonemenu .ui-selectonemenu-trigger .ui-icon{
    margin: 0 !important;
}


.ui-widget-content .ui-state-highlight{
    @include body-text();
    background-color: transparent !important;
    text-underline-offset: 4px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: $secondary-orange-color;
}

.vc-chip-container .chip {
    @include body-text();
    background-color: white !important;    

    > .ui-button-text{
        font-weight: 400!important;
    }
}
/* end top menu section */


/* begin menu section */
.rb-vendor-text{
    @include sub-header();
    font-size: 22px !important;
}

html[lang="en"] #orderForm:vndcat button{
    @include button();
    border: 1px solid $secondary-grey-color;
}
/* end menu section */

/* begin list section */
.flex-item.rb-vendor-item {
    margin: 0 10px 10px 10px !important;
    padding: 0 !important;
    padding-bottom: 10px !important;

    label{
        @include body-text();
        font-family: 500;
    }
}
/* end list section */