@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
@import url("https://fonts.cdnfonts.com/css/delmon-delicate");
@import url("https://fonts.cdnfonts.com/css/microsoft-yahei");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* begin general */
html[lang=en] body,
html[lang=en] .mat-body,
html[lang=en] .mat-body-1,
html[lang=en] .mat-typography,
html[lang=en] .mat-form-field,
html[lang=en] .mat-button,
html[lang=en] .mat-raised-button,
html[lang=en] .mat-stroked-button,
html[lang=en] .mat-flat-button,
html[lang=en] .mat-list-item,
html[lang=en] .mat-list-option,
html[lang=en] .mat-card-title,
html[lang=en] .product-dates,
html[lang=en] .mat-h1,
html[lang=en] .mat-h3,
html[lang=en] .mat-dialog-title,
html[lang=en] h3.rate-plan-title,
html[lang=en] .mat-subheading-2,
html[lang=en] .card-content *,
html[lang=en] .mobile-top span,
html[lang=en] .mat-card-content,
html[lang=en] .mat-checkbox,
html[lang=en] .invoice-container *,
html[lang=en] .mat-headline,
html[lang=en] .rate-plan-subtitle,
html[lang=en] .product-description,
html[lang=en] .checkout-room-description,
html[lang=en] .checkout-vendor-info,
html[lang=en] .side-cart .summary-row {
  font-family: Montserrat !important;
  font-weight: 400 !important;
  color: #18181B !important;
}

.mat-flat-button.mat-primary {
  color: #18181B !important;
  border: none !important;
  padding: 10px 25px;
  background-color: #F89426 !important;
  border-radius: 0 !important;
  text-transform: uppercase;
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 28px;
}

/* end general */
body {
  font-family: "Montserrat", sans-serif !important;
  color: #18181B !important;
}

/* begin filter search section */
.mobile-top {
  width: 100%;
}

.open-filter-button {
  padding: 12px 10px !important;
  color: #18181B !important;
  border: 1px solid #DCDDDE !important;
}

.open-filter-button.active {
  border-radius: 0;
  border: 1px solid #F89426 !important;
}

.mat-form-field-outline-start,
.mat-form-field-outline-end {
  border-radius: 0 !important;
}

mat-label {
  font-size: 10px;
}

.mat-datepicker-content .mat-calendar {
  height: -moz-fit-content !important;
  height: fit-content !important;
}

.mat-calendar * {
  font-family: Montserrat !important;
}
.mat-calendar * .mat-calendar-controls .mdc-button__label span {
  font-family: Montserrat;
  font-size: 16px !important;
  font-weight: 400;
  line-height: 26px;
  text-transform: lowercase;
  line-height: 20px;
}
.mat-calendar * .mat-calendar-controls .mdc-button__label::first-letter {
  text-transform: uppercase;
}

.search-dates {
  max-width: -moz-fit-content !important;
  max-width: fit-content !important;
}
.search-dates .mat-date-range-input-wrapper {
  flex: 1;
}
.search-dates mat-datepicker-toggle > button {
  width: -moz-fit-content !important;
  width: fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
  vertical-align: bottom !important;
  padding: 0 !important;
  margin-left: 30px;
}

.mat-calendar-content td.mat-calendar-body-label {
  font-family: Montserrat;
  font-size: 16px !important;
  font-weight: 400;
  line-height: 26px;
  text-transform: lowercase;
}
.mat-calendar-content td.mat-calendar-body-label::first-letter {
  text-transform: uppercase;
}

.mat-calendar-body-cell-content {
  border-radius: 0 !important;
}

.mat-date-range-input-wrapper {
  max-width: calc(55% - 4px) !important;
}

.mat-date-range-input input {
  color: #18181B !important;
  font-family: Montserrat;
  font-size: 18px !important;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
}

.mat-form-field-label {
  text-transform: uppercase;
  font-family: Montserrat;
  font-size: 12px !important;
  font-weight: 400;
  line-height: 17px;
  color: #18181B !important;
  letter-spacing: 0.15em;
}

.mat-select-value-text {
  font-family: Montserrat;
  font-size: 18px !important;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
}

app-search-card.ng-star-inserted:hover {
  background: #DCDDDE;
}
app-search-card.ng-star-inserted:hover button {
  background-color: #18181B;
  color: white;
}

.mat-body p, .mat-body-1 p, .mat-typography .mat-body p, .mat-typography .mat-body-1 p, .mat-typography p {
  margin: 0;
}

.search-location.mat-focused .mat-select-arrow-wrapper {
  transform: rotate(45deg) translateY(-25%) !important;
}

.search-guests .mat-select-arrow-wrapper,
.search-guests.mat-focused .mat-select-arrow-wrapper {
  height: -moz-fit-content;
  height: fit-content;
}

.mat-option:hover .mat-option-text {
  text-decoration: underline;
}

.mat-option {
  background-color: transparent !important;
  text-underline-offset: 2px;
}

.mat-selected {
  font-family: Montserrat;
  font-size: 16px !important;
  font-weight: 400;
  line-height: 26px;
}

.mat-selected[aria-selected=true] {
  color: #18181B !important;
  background-color: transparent !important;
}

.mat-select-arrow {
  color: #18181B !important;
  transform: rotate(45deg);
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 2px solid black !important;
}

.search-card.focused[_ngcontent-wnk-c35] {
  background: transparent !important;
}

#desktopLang {
  border-radius: 0;
  line-height: 20px;
  letter-spacing: 0.15em;
}

.mat-stroked-button.mat-primary {
  font-family: Montserrat;
  font-size: 16px !important;
  font-weight: 400;
  line-height: 26px;
  color: #18181B !important;
  border: 1px solid #18181B;
  background: #FFFDFA;
  padding: 12px;
}

.mat-stroked-button.mat-primary[aria-expanded=true] {
  border: 1px solid #F89426 !important;
}

.mat-menu-item {
  font-family: Montserrat;
  font-size: 16px !important;
  font-weight: 400;
  line-height: 26px;
  color: #18181B !important;
  font-family: "Microsoft YaHei", sans-serif !important;
  text-underline-offset: 4px;
  display: inline-block;
  position: relative;
}
.mat-menu-item:hover {
  background-color: transparent !important;
  text-decoration: underline;
  transition: 0.3s;
  text-underline-offset: 4px;
}
.mat-menu-item:hover:after {
  background-color: transparent !important;
  text-decoration: underline;
  transition: 0.3s;
  text-underline-offset: 4px;
}

.mat-menu-panel {
  border-radius: 0 !important;
}

.search-discount-code.mat-focused,
.search-location.mat-focused {
  margin-top: -2px;
}
.search-discount-code.mat-focused .mat-form-field-label-wrapper,
.search-location.mat-focused .mat-form-field-label-wrapper {
  padding-top: 1.84375em !important;
}
.search-discount-code .mat-form-field-label-wrapper,
.search-location .mat-form-field-label-wrapper {
  top: 50%;
  transform: translateY(-50%);
}
.search-discount-code .mat-form-field-appearance-outline,
.search-location .mat-form-field-appearance-outline {
  margin-top: 0 !important;
}
.search-discount-code .mat-form-field-appearance-outline .mat-form-field-label,
.search-location .mat-form-field-appearance-outline .mat-form-field-label {
  margin-top: 0 !important;
}

.open-filter-button .ng-star-inserted {
  font-family: Montserrat;
  font-size: 16px !important;
  font-weight: 400;
  line-height: 26px;
}

.mat-button-wrapper span {
  text-transform: uppercase;
}

#searchBarSubmitBtn {
  border: none !important;
  padding: 10px 25px;
  background-color: #F89426 !important;
  border-radius: 0 !important;
  text-transform: uppercase;
  color: #18181B !important;
  line-height: 28px;
  letter-spacing: 0.15em;
  flex: none;
  padding: 10px 25px !important;
}

/* end filter search section */
/* begin filter list section */
.mdc-slider__track--active_fill,
.mat-mdc-slider .mdc-slider__track--inactive {
  border-color: #18181B !important;
}

.filter-container {
  top: 64px !important;
}

.mat-card {
  font-family: Montserrat !important;
}

.open-filter-button.active,
.mdc-evolution-chip__text-label,
.mdc-evolution-chip__action[aria-selected=false] .mdc-evolution-chip__text-label,
.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__checkmark {
  color: #18181B !important;
}

app-search-filter-bar button {
  border-radius: 0 !important;
}
app-search-filter-bar .title {
  align-items: center !important;
}
app-search-filter-bar .title > span {
  font-family: Delmon Delicate !important;
  font-size: 20px !important;
  font-weight: 400;
}
app-search-filter-bar .title button {
  top: auto !important;
}

app-search-filter .title {
  font-size: 24px !important;
}
app-search-filter mat-icon {
  color: #18181B !important;
}

app-search-filter-window .filter-container {
  box-sizing: content-box;
  width: auto !important;
}
app-search-filter-window .mat-card .title {
  font-family: Delmon Delicate !important;
  font-size: 20px !important;
  font-weight: 400;
  font-size: 24px !important;
}
app-search-filter-window mat-card-actions .mat-focus-indicator {
  margin-left: 30px;
  padding: 13.5px 16px !important;
}
app-search-filter-window mat-card-actions .mat-focus-indicator .mat-button-wrapper {
  letter-spacing: 0.15em;
}

.filter .subtitle {
  color: #18181B !important;
  font-family: Montserrat;
  font-size: 12px !important;
  font-weight: 400;
  line-height: 17px;
  line-height: 15px;
  letter-spacing: 0.15em !important;
  text-transform: uppercase;
}

.mat-mdc-standard-chip {
  border: none !important;
  padding: 10px 25px;
  background-color: #F89426 !important;
  border-radius: 0 !important;
  text-transform: uppercase;
  background-color: #DCDDDE !important;
  padding: 0;
}

.mat-mdc-chip-selected {
  background-color: #F89426 !important;
}

.mat-mdc-chip-action-label {
  font-family: Montserrat;
  font-size: 16px !important;
  font-weight: 400;
  line-height: 26px;
}

html[lang=en] mat-chip-option {
  padding: 14px 16px !important;
}
html[lang=en] mat-chip-option .mat-mdc-chip-graphic {
  padding-left: 0 !important;
}
html[lang=en] mat-chip-option .mdc-evolution-chip__action {
  padding-right: 0 !important;
}
html[lang=en] mat-chip-option .mdc-evolution-chip__text-label {
  margin-bottom: 0 !important;
}
html[lang=en] mat-chip-option button[aria-selected=false] .mdc-evolution-chip__action {
  padding-right: 0 !important;
}

html[lang=en] .mat-mdc-slider .mdc-slider__value-indicator {
  font-family: Montserrat !important;
  opacity: 1 !important;
  background-color: transparent !important;
}
html[lang=en] .mat-mdc-slider .mdc-slider__value-indicator span {
  color: #18181B !important;
  font-family: Montserrat;
  font-size: 16px !important;
  font-weight: 400;
  line-height: 26px;
  line-height: 20px;
  font-family: Montserrat;
}
html[lang=en] .mat-mdc-slider .mdc-slider__value-indicator span::before {
  display: none;
}

.mat-card-actions:first-child {
  border: 1px solid #18181B;
  background-color: #FFFDFA !important;
  text-transform: uppercase;
}
.mat-card-actions button {
  font-family: Montserrat;
  font-size: 12px !important;
  font-weight: 400;
  line-height: 17px;
  border-radius: 0;
  height: -moz-fit-content !important;
  height: fit-content !important;
  min-height: -moz-fit-content !important;
  min-height: fit-content !important;
  text-transform: uppercase;
}
.mat-card-actions button.mat-stroked-button {
  padding-top: 12.5px !important;
  padding-bottom: 12.5px !important;
}
.mat-card-actions .mat-button-wrapper {
  font-family: Montserrat;
  font-size: 12px !important;
  font-weight: 400;
  line-height: 17px;
}

.filter-bar .mat-button-wrapper span {
  text-transform: capitalize;
}
.filter-bar .mat-stroked-button.mat-primary {
  background-color: white !important;
}

/* end filter list section */
/* begin card section */
.search-card {
  padding: 15px !important;
}

.search-card-carousel {
  height: auto !important;
}

.product-image.ng-star-inserted {
  border-radius: 0 !important;
}

.search-card-title {
  font-family: Delmon Delicate !important;
  font-size: 20px !important;
  font-weight: 400;
  margin-bottom: 20px !important;
}

.search-card-desc {
  font-family: Montserrat;
  font-size: 16px !important;
  font-weight: 400;
  line-height: 26px;
  color: #18181B !important;
  margin-bottom: 20px !important;
}

.search-card-from {
  max-width: 55% !important;
  line-height: unset !important;
  font-size: 18px;
}

.per-person {
  font-family: Montserrat;
  font-size: 14px !important;
  font-weight: 300;
  line-height: 17px;
  display: block;
  line-height: unset;
}

#searchMoreInfo {
  border: none !important;
  padding: 10px 25px;
  background-color: #F89426 !important;
  border-radius: 0 !important;
  text-transform: uppercase;
  font-family: Montserrat;
  font-size: 16px !important;
  font-weight: 400;
  line-height: 26px;
  color: #18181B !important;
  font-family: Montserrat;
  font-size: 12px !important;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
}

.view-map {
  color: #18181B !important;
  opacity: 1 !important;
}

.search-card.focused[_ngcontent-mhq-c35] {
  color: #18181B !important;
  background-color: #E0E0E0 !important;
  border: none;
}
.search-card.focused[_ngcontent-mhq-c35] #searchMoreInfo {
  color: white !important;
  background-color: #18181B !important;
}
.search-card.focused[_ngcontent-mhq-c35] .search-card-from span {
  color: #18181B !important;
}

/* end card section */
/* begin map section */
html[lang=en] .card-content * {
  font-family: Montserrat !important;
}

.card-content {
  font-family: Montserrat !important;
  color: #18181B !important;
  padding: 13px 10px;
  display: flex;
  align-items: center;
}
.card-content .content-title {
  background: #18181B !important;
  font-size: 10px !important;
  text-transform: uppercase;
  line-height: 28px;
  letter-spacing: 0.15em;
  padding: 10px 20px;
  border-radius: 0;
  top: 100px;
}
.card-content .actions-text {
  color: #18181B !important;
  margin-right: 15px !important;
}
.card-content .actions-text div {
  font-size: 15px;
  font-weight: 500 !important;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
.card-content button {
  border: none !important;
  padding: 10px 25px;
  background-color: #F89426 !important;
  border-radius: 0 !important;
  text-transform: uppercase;
  font-size: 10px !important;
  padding: 4px 20px !important;
  line-height: 28px;
  letter-spacing: 0.15em;
}
.card-content button .mat-button-wrapper {
  font-size: 10px;
}
.card-content .card-actions {
  margin-top: 0 !important;
}
.card-content .card-actions .actions-text {
  font-weight: 500 !important;
}

.map-container .map-icon {
  font-family: Montserrat;
  font-size: 16px !important;
  font-weight: 400;
  line-height: 26px;
  font-family: Montserrat !important;
  color: #18181B !important;
  font-size: 15px;
  font-weight: 500;
  border-radius: 0 !important;
}

.gm-style-iw-tc {
  display: none;
}

app-search-card div {
  border-radius: 0 !important;
}
app-search-card .search-card-from {
  margin-right: 4px;
  font-weight: 500 !important;
}
app-search-card .search-card-from span:first-child {
  margin-right: 4px;
}

map-info-window {
  border-radius: 0 !important;
}
map-info-window .content-title {
  border-radius: 0 !important;
}
map-info-window button {
  padding: 14px 20px !important;
}

.gm-style-iw.gm-style-iw-c,
.gm-style-iw-d {
  max-height: -moz-fit-content !important;
  max-height: fit-content !important;
  border-radius: 0 !important;
}

html[lang=en] .card-content {
  padding: 1em !important;
}
html[lang=en] .card-content .actions-text div span {
  font-weight: 500 !important;
}
html[lang=en] .card-content .content-title {
  color: white !important;
}

google-map .content-title {
  border-radius: 0 !important;
}

/* end map section */
/* begin search list result */
.search-results {
  width: calc(52% - 1em) !important;
}

/* end search list result */
/*==================PROPER PAGE =====================*/
html[lang=en] h2.product-title, .checkout-room-type {
  font-family: Delmon Delicate !important;
  font-size: 20px !important;
  font-weight: 400;
  line-height: 32px;
}

.search-bar .mat-flat-button {
  border-radius: 50%;
}

html[lang=en] .vendor-description {
  font-family: Montserrat;
  font-size: 16px !important;
  font-weight: 400;
  line-height: 26px;
  color: #18181B !important;
  border-radius: 0 !important;
  background-color: #DCDDDE !important;
  line-height: 26px !important;
  letter-spacing: 0 !important;
  padding: 10px 15px;
  margin-top: 20px;
  box-shadow: none !important;
}

.vendor-description[_ngcontent-fmi-c70] {
  box-shadow: none !important;
}

.vendor-description[_ngcontent-lqp-c70] {
  box-shadow: none !important;
}

/* begin hotel card detail section */
html[lang=en] .checkout-room-description {
  font-family: Montserrat;
  font-size: 16px !important;
  font-weight: 400;
  line-height: 26px;
  opacity: 1;
}

app-cart-product .product-features {
  margin-top: 10px !important;
}

app-cart-product .product-dates,
.product-info-container .product-dates {
  font-family: Montserrat;
  font-size: 14px !important;
  font-weight: 300;
  line-height: 17px;
  line-height: 22px;
}
app-cart-product .date-message,
.product-info-container .date-message {
  display: none;
}
app-cart-product .product-features,
.product-info-container .product-features {
  margin-top: 20px;
}
app-cart-product .product-features > span,
.product-info-container .product-features > span {
  font-family: Montserrat;
  font-size: 14px !important;
  font-weight: 300;
  line-height: 17px;
  margin-right: 10px;
}
app-cart-product .product-features .material-icons,
.product-info-container .product-features .material-icons {
  height: 20px;
  width: 20px;
  font-size: 20px;
}
app-cart-product .product-description,
.product-info-container .product-description {
  color: #18181B !important;
  font-family: Montserrat;
  font-size: 16px !important;
  font-weight: 400;
  line-height: 26px;
  line-height: 26px;
}

app-product .product-card {
  border-radius: 0 !important;
}
app-product .product-card .mat-form-field-label {
  font-family: Montserrat;
  font-size: 12px !important;
  font-weight: 400;
  line-height: 17px;
  line-height: 19px;
  letter-spacing: 0.15em;
}

.rate-plan-price .sl, .cart-item-price .sl[_ngcontent-lqp-c63], .sl {
  font-weight: 500;
  line-height: 22px;
  font-size: 18px !important;
}

.rate-price-container > * {
  font-family: Montserrat;
  font-size: 14px !important;
  font-weight: 300;
  line-height: 17px;
  line-height: 22px;
}

.vendor-container .open-gallery {
  font-family: Montserrat;
  font-size: 12px !important;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
  font-family: Montserrat;
  line-height: 19px;
  letter-spacing: 0.15em;
}
.vendor-container .open-gallery span, .vendor-container .open-gallery .mat-icon {
  color: #18181B !important;
}
.vendor-container .title-group {
  border-radius: 0 !important;
  background-color: #18181B !important;
  height: auto !important;
  padding: 10px 20px !important;
  margin: 14px;
}
.vendor-container .title-group h2 {
  font-family: Montserrat !important;
  font-size: 10px !important;
  line-height: 28px !important;
  letter-spacing: 0.15em !important;
  font-weight: 400 !important;
  text-transform: uppercase;
}

.open-gallery {
  border-radius: 0 !important;
  border: 0 !important;
  padding: 0.5rem;
}

.rack[_ngcontent-lqp-c63] {
  margin-bottom: 0.5em;
}

#add-product {
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.rate-plan-container[_ngcontent-fmi-c56] {
  align-items: baseline !important;
}

.rate-plan-container .rate-plan-text-container {
  width: calc(75% - 5rem) !important;
  padding-right: 0 !important;
}
.rate-plan-container .rate-plan-text-container .rate-plan-subtitle {
  font-family: Montserrat;
  font-size: 16px !important;
  font-weight: 400;
  line-height: 26px;
  white-space: inherit !important;
  line-height: 25.6px;
}
.rate-plan-container .rate-plan-text-container .rate-plan-title-container h3 {
  font-family: Delmon Delicate !important;
  font-size: 20px !important;
  font-weight: 400;
  font-size: 18px !important;
  line-height: 22px !important;
  white-space: inherit !important;
}
.rate-plan-container .rate-plan-text-container button mat-icon {
  color: #F89426;
}

.mat-select-panel {
  border-radius: 0 !important;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #F89426 !important;
}
.mat-form-field.mat-focused .mat-select-arrow-wrapper {
  transform: rotate(45deg) translateY(-25%) !important;
}

/* end hotel card detail section */
/* begin dialog section */
#mat-dialog-title-2 {
  font-family: Delmon Delicate !important;
  font-size: 20px !important;
  font-weight: 400;
  font-size: 18px !important;
  line-height: 29px;
  line-height: 29px !important;
}

mat-dialog-actions.mat-dialog-actions.mat-dialog-actions-align-end span {
  font-family: Montserrat;
  font-size: 12px !important;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
  line-height: 15px;
  letter-spacing: 0.15em;
}
mat-dialog-actions.mat-dialog-actions.mat-dialog-actions-align-end span:hover {
  background-color: transparent !important;
  text-decoration: underline;
  transition: 0.3s;
  text-underline-offset: 4px;
  text-decoration-color: #F89426;
}

mat-dialog-content.mat-dialog-content.mat-typography {
  font-family: Montserrat;
  font-size: 16px !important;
  font-weight: 400;
  line-height: 26px;
  line-height: 26px;
}

/* end dialog section */
/* begin checkout section */
.mat-card-title {
  font-family: Delmon Delicate !important;
  font-size: 22px;
  font-weight: 400;
  line-height: 35px;
}

.mat-list .mat-list-item .cart-room-type {
  font-family: Delmon Delicate !important;
  font-size: 20px !important;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.5px;
  white-space: inherit !important;
}
.mat-list .mat-list-item .summary-row {
  font-family: Montserrat;
  font-size: 16px !important;
  font-weight: 400;
  line-height: 26px;
}
.mat-list .mat-list-item .dates-row {
  margin: 1rem 0 !important;
  padding: 0 !important;
}
.mat-list .mat-list-item .date-summary {
  font-family: Montserrat;
  font-size: 12px !important;
  font-weight: 400;
  line-height: 17px;
  font-family: Montserrat;
  line-height: 19px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.mat-list .mat-list-item .date {
  font-family: Montserrat;
  font-size: 16px !important;
  font-weight: 400;
  line-height: 26px;
  line-height: 26px;
}

.mat-card-content p {
  font-family: Montserrat;
  font-size: 18px !important;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
}
.mat-card-content > div {
  justify-content: space-between;
  align-items: baseline;
  margin-top: 1rem;
}
.mat-card-content .cart-total {
  margin-top: 0 !important;
}
.mat-card-content .cart-total .sl {
  font-size: 22px;
  font-weight: 500;
  line-height: 27px;
}
.mat-card-content .cart-total .rack {
  font-family: Montserrat;
  font-size: 12px !important;
  font-weight: 400;
  line-height: 17px;
  font-weight: 500;
  line-height: 15px;
  margin-bottom: 10px;
  padding: 5px 10px;
}
.mat-card-content .mat-card-actions {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.vendor-products-container mat-card-actions {
  margin-bottom: 0 !important;
}
.vendor-products-container mat-card-actions .mat-button-wrapper {
  visibility: hidden;
}
.vendor-products-container mat-card-actions button {
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.15em;
  text-align: center;
}
.vendor-products-container mat-card-actions button::after {
  visibility: visible;
  display: block;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.vendor-products-container mat-card-actions button:not(.mat-button-disabled)::after {
  content: "PROCEED";
}
.vendor-products-container mat-card-actions .mat-button-disabled::after {
  content: "BOOK NOW";
}

html[lang=en] .mat-headline {
  color: white !important;
}

html[lang=en] .mat-card-title {
  font-family: Delmon Delicate !important;
  font-size: 20px !important;
  font-weight: 400;
  font-size: 22px !important;
}

app-shopping-cart .mat-card {
  background: white !important;
  border-radius: 0 !important;
  margin-top: 76px;
}
app-shopping-cart .mat-card:has(.mat-button-disabled) {
  padding: 24px !important;
}
app-shopping-cart .mat-card:has(.mat-button-disabled) .cart-total {
  margin: 0 !important;
}
app-shopping-cart .mat-card:has(.mat-button-disabled) .ng-tns-c65-11 {
  align-items: baseline;
}
app-shopping-cart .mat-card .mat-card-actions {
  margin: 20px 0 0 0 !important;
}

app-search-bar .mat-flat-button.mat-primary {
  padding: 0 !important;
  border-radius: 50% !important;
}

app-shopping-cart .checkout-vendor {
  font-family: Delmon Delicate !important;
  font-size: 20px !important;
  font-weight: 400;
  font-size: 22px;
  line-height: 35px;
  padding-bottom: 1.1rem !important;
}
app-shopping-cart .mat-card-content > div p {
  display: none;
}
app-shopping-cart .mat-card-content > div .cart-total {
  margin-right: 0 !important;
}

html[lang=en] .rate-plan-info {
  padding-top: 1.6rem !important;
}

.rate-plan-info {
  margin-top: 2.4rem !important;
  margin-bottom: 2.4rem !important;
  border-radius: 0 !important;
}
.rate-plan-info .rate-plan-title {
  font-family: Delmon Delicate !important;
  font-size: 20px !important;
  font-weight: 400;
  font-size: 18px !important;
}
.rate-plan-info .more-info-long {
  margin-top: 2.4rem !important;
  opacity: 1;
  color: #18181B !important;
}
.rate-plan-info .more-info-long p {
  font-family: Montserrat;
  font-size: 16px !important;
  font-weight: 400;
  line-height: 26px;
  line-height: 26px;
}

app-payment-schedule .payment-schedule-container {
  padding-bottom: 2.4rem;
  opacity: 1;
}
app-payment-schedule .payment-schedule-container .full-date {
  font-family: Montserrat;
  font-size: 12px !important;
  font-weight: 400;
  line-height: 17px;
  line-height: 19px;
}
app-payment-schedule .payment-schedule-container mat-icon {
  color: #F89426 !important;
  width: 14px !important;
  height: 14px !important;
  font-size: 14px !important;
}

app-customer-form mat-checkbox .mat-checkbox-label {
  font-family: Montserrat;
  font-size: 14px !important;
  font-weight: 300;
  line-height: 17px;
  line-height: 19px;
}
app-customer-form mat-checkbox .mat-checkbox-inner-container .mat-checkbox-frame {
  border-color: #18181B;
}
app-customer-form mat-checkbox .mat-checkbox-inner-container .mat-checkbox-checkmark {
  fill: #F89426;
  border-radius: 0 !important;
}
app-customer-form mat-checkbox .mat-checkbox-inner-container .mat-checkbox-checkmark-path {
  stroke: #F89426 !important;
}
app-customer-form .button-container {
  display: flex;
  align-items: center;
}
app-customer-form .button-container button:not(.mobile) {
  min-width: 40rem !important;
  margin-left: 3rem !important;
}

.mat-form-field-infix input, .mat-form-field-infix mat-label {
  font-family: Montserrat;
  font-size: 18px !important;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-transform: capitalize;
}/*# sourceMappingURL=search.css.map */