// font 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.cdnfonts.com/css/delmon-delicate');
@import url('https://fonts.cdnfonts.com/css/microsoft-yahei');

$primary-sea-color: #79A2AA;
$primary-brown-color: #625956;
$primary-black-color: #18181B;

$secondary-yellow-color: #FFD075;
$secondary-orange-color: #F89426;
$secondary-beige-color: #F9F6F0;
$secondary-white-color: #FFFDFA;
$secondary-grey-color: #DCDDDE;

@mixin main-font{
    font-family: Montserrat !important;
}

@mixin small-title {
    font-size: 6px !important;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.15em;
    text-align: right;    
}

@mixin header {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
}

@mixin sub-header{
    font-family: Delmon Delicate !important;
    font-size: 20px !important;
    font-weight: 400;
}

@mixin body-text{
    font-family: Montserrat;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 26px;
}

@mixin caption{
    font-family: Montserrat;
    font-size: 14px !important;
    font-weight: 300;
    line-height: 17px;
}

@mixin title{
    font-family: Montserrat;
    font-size: 12px !important;
    font-weight: 400;
    line-height: 17px;
}

@mixin button{
    border: none !important;
    padding: 10px 25px;
	background-color: $secondary-orange-color !important;
    border-radius: 0 !important;
    text-transform: uppercase;
}

@mixin black-text{
    color: $primary-black-color !important;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* begin general */
html[lang="en"] .mat-stroked-button,
html[lang="en"] .mat-flat-button,
html[lang="en"] .mat-card-content,
html[lang="en"] .mat-form-field{
    font-family: Montserrat !important;
    font-weight: 400 !important;
}

.mat-flat-button.mat-primary{
    @include black-text();;
    @include button();
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 28px;
}

/* end general */


body {
    font-family: 'Montserrat', sans-serif !important;
    @include black-text();
}

/* begin filter search section */
.mobile-top{
    width: 100%;
}

.open-filter-button {
    padding: 12px 10px !important;
    @include black-text();
    border: 1px solid $secondary-grey-color !important;
}

.mat-form-field-outline-start,
.mat-form-field-outline-end{
    border-radius: 0 !important;
}

// calendar
.mat-calendar *{
    font-family: Montserrat !important;
}

.mat-calendar-body-cell-content{
    border-radius: 0 !important;
}

.mat-date-range-input-wrapper{
    max-width: calc(55% - 4px) !important;
}

.mat-date-range-input input{
    @include black-text();
    @include header();
}

// input
.mat-form-field-label{
    text-transform: uppercase;
    @include title();
    @include black-text();
    letter-spacing: 0.15em;
}

.mat-select-value-text{
    @include header();
}

.mat-menu-item:hover:after {
    text-decoration: underline;
    transition: 0.3s;
}

// guest 
.mat-option:hover .mat-option-text {
    text-decoration: underline;
}

.mat-option{
    background-color: transparent !important;
    text-underline-offset: 2px;
}

.mat-selected{
    @include body-text();
}

.mat-selected[aria-selected="true"]{
    @include black-text();
    background-color: transparent !important;
}

.mat-select-arrow{
    @include black-text();
    transform: rotate(45deg);
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 2px solid black !important;
}

// language
#desktopLang{
    border-radius: 0;
    line-height: 20px;
    letter-spacing: 0.15em;
}
.mat-stroked-button.mat-primary{
    @include body-text();
    @include black-text();
    border: 1px solid $primary-black-color;
    background: $secondary-white-color;
    padding: 12px;
}

.mat-stroked-button.mat-primary[aria-expanded="true"]{
    border: 1px solid $secondary-orange-color !important;
}

.mat-menu-item{
    @include body-text();
    @include black-text();
    font-family: 'Microsoft YaHei', sans-serif !important;
    text-underline-offset: 4px;
    display: inline-block;
    position: relative;
}

.mat-menu-item:hover{
    text-decoration: underline;
    transition: 0.3s;
    background: transparent !important;
}

.mat-menu-panel{
    border-radius: 0 !important;
}
// search
.open-filter-button .ng-star-inserted {
    @include body-text();
}

.mat-button-wrapper span{
    text-transform: uppercase;
}

#searchBarSubmitBtn{
    @include button();
    @include black-text();
    line-height: 28px;
    letter-spacing: 0.15em;
    flex: none;
}
/* end filter search section */


/* begin filter list section */
.mdc-slider__track--active_fill,
.mat-mdc-slider .mdc-slider__track--inactive{
    border-color: $primary-black-color !important;
}

.mat-card{
    font-family: Montserrat !important;
}
.open-filter-button.active,
.mdc-evolution-chip__text-label,
.mdc-evolution-chip__action[aria-selected=false] .mdc-evolution-chip__text-label,
.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__checkmark{
    @include black-text();
}

.title > span{
    @include sub-header();
}

.filter .subtitle{
    @include black-text();
    @include title();
    line-height: 15px;
    letter-spacing: 0.15em;

    text-transform: uppercase;
} 

.mat-mdc-standard-chip {
    @include button();
    background-color: $secondary-grey-color !important;
    padding: 0;
}

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled){
    background-color: $secondary-orange-color !important;
}

.mat-mdc-chip-action-label{
    @include body-text();
}

// range
.mat-mdc-slider .mdc-slider__value-indicator{
    @include black-text();
    opacity: 1;
    background-color: transparent;
    
}

.mdc-slider__value-indicator-text{
    font-family: Montserrat !important;
    @include body-text();
}

.mdc-slider .mdc-slider__value-indicator::before{
    border: none;
}

mat-slider.mat-mdc-slider.mdc-slider.mat-primary.mdc-slider--discrete.mdc-slider--range .mdc-slider__value-indicator-text{
    font-family: Montserrat !important;
    @include body-text();
}

// action
.mat-card-actions:first-child{
    border: 1px solid $primary-black-color;
    background-color: $secondary-white-color !important;
    text-transform: uppercase;
}

.mat-card-actions button{
    @include title();
    border-radius: 0;
    text-transform: uppercase;
}

.mat-card-actions button .mat-button-wrapper{
    @include title();
}

.filter-bar .mat-button-wrapper span{
    text-transform: capitalize;
}

.filter-bar .mat-stroked-button.mat-primary{
    background-color: white !important; 
}

/* end filter list section */

/* begin card section */
.search-card {
    padding: 15px !important;
}

.search-card-carousel{
    height: auto !important;
}

.product-image.ng-star-inserted {
    border-radius: 0!important;
}

.search-card-title{
    @include sub-header();
    margin-bottom: 20px !important;
}

.search-card-desc{
    @include body-text();
    @include black-text();
    margin-bottom: 20px !important;
}

.search-card-from{
    max-width: 55% !important;
    line-height: unset !important;
    font-size: 18px;
    display: flex;
    align-items: self-end;
}

.per-person{
    @include caption();
    line-height: unset;
    padding-right: 4px;
    order: -1;
}

#searchMoreInfo {
    @include button();
    @include body-text();
    @include black-text();
    @include title();
    text-transform: uppercase;

}

.view-map {
    @include black-text();
    opacity: 1 !important;
}

.search-card.focused[_ngcontent-mhq-c35]{
    @include black-text();
    background-color: $secondary-white-color;

    .search-card-from{
        span{
            @include black-text();
        }
    }
}
/* end card section */

/* begin map section */
html[lang="en"] .card-content * {
    font-family: Montserrat !important;
}

.card-content{
    @include main-font();
    @include black-text();
    padding: 13px 10px;

    .content-title{
        background: $primary-black-color !important;
        font-size: 10px !important;
        text-transform: uppercase;
        line-height: 28px;
        letter-spacing: 0.15em;
        padding: 10px 20px;
        border-radius: 0;
        top: 100px;
    }

    .actions-text{
        @include black-text();
        margin-right: 15px !important;

        div{
            font-size: 15px;
            font-weight: 500 !important;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
        }
    }

    button{
        @include button();
        font-size: 10px !important;
        padding: 14px 20px !important;

        .mat-button-wrapper{
            font-size: 10px;
        }
        
    }

    .card-actions{
        margin-top: 0 !important;
    }
}

.map-container .map-icon{
    @include body-text();
    @include main-font();
    @include black-text();
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
}

.gm-style-iw-d{
    max-height: fit-content !important;
}

.gm-style-iw-tc{
    display: none;
}
/* end map section */


/* begin search list result */
.search-results{
    width: calc(52% - 1em) !important;
}
/* end search list result */