// font 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.cdnfonts.com/css/delmon-delicate');
@import url('https://fonts.cdnfonts.com/css/microsoft-yahei');

$primary-sea-color: #79A2AA;
$primary-brown-color: #625956;
$primary-black-color: #18181B;

$secondary-yellow-color: #FFD075;
$secondary-orange-color: #F89426;
$secondary-beige-color: #F9F6F0;
$secondary-white-color: #FFFDFA;
$secondary-grey-color: #DCDDDE;
$secondary-light-grey-color: #F4F4F4;

$success-color:#54AF91;
$fail-color:#EA5F5F;
$dark-grey: #66686A;
$link-color:#3388CC;


// input
app-cart-product{
    .mat-form-field-infix{
        border-top: 0 !important;
    
        
        .mat-form-field-label-wrapper
        {
            top: 0 !important;
            
        }
    }
    
    .mat-form-field-appearance-outline{
        .mat-form-field-label{
            top: 1.34375em !important;
            padding-top: 0 !important;
            margin-top: 0!important;
        }
    
        .mat-select-arrow-wrapper{
            transform: translateY(0) !important;
        }
    }
    
    html mat-form-field:not(.mat-form-field-type-mat-select) .mat-form-field-infix{
        padding: 1em 0 !important;
    }
}

.mat-form-field-appearance-outline .mat-select-arrow-wrapper{
    transform: translateY(0) !important;
}

.search-discount-code{
    .mat-form-field-label-wrapper{
        top: -0.54375em;
    }
}
@mixin main-font{
    font-family: Montserrat !important;
}

@mixin second-font{
    font-family: Delmon Delicate !important;
}

@mixin small-title {
    font-size: 6px !important;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.15em;
    text-align: right;    
}

@mixin header {
    font-family: Montserrat;
    font-size: 18px !important;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
}

@mixin sub-header{
    font-family: Delmon Delicate !important;
    font-size: 20px !important;
    font-weight: 400;
}

@mixin body-text{
    font-family: Montserrat;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 26px;
}

@mixin caption{
    font-family: Montserrat;
    font-size: 14px !important;
    font-weight: 300;
    line-height: 17px;
}

@mixin title{
    font-family: Montserrat;
    font-size: 12px !important;
    font-weight: 400;
    line-height: 17px;
}

@mixin button{
    border: none !important;
    padding: 10px 25px;
	background-color: $secondary-orange-color !important;
    border-radius: 0 !important;
    text-transform: uppercase;
}

@mixin black-text{
    color: $primary-black-color !important;
}

@mixin border{
    border: 1px solid #DCDDDE
}

@mixin input{
    box-shadow: none !important;
    @include border();
    border-radius: 0 !important;
}

@mixin hover-underline{
    background-color: transparent !important;
    text-decoration: underline;
    transition: 0.3s;
    text-underline-offset: 4px;
}

@mixin text-column{
    font-family: Montserrat;
    font-size: 12px !important;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.15em !important;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
   
}

/* begin general */
html[lang="en"] body, 
html[lang="en"] .mat-body, 
html[lang="en"] .mat-body-1, 
html[lang="en"] .mat-typography, 
html[lang="en"] .mat-form-field, 
html[lang="en"] .mat-button, 
html[lang="en"] .mat-raised-button, 
html[lang="en"] .mat-stroked-button, 
html[lang="en"] .mat-flat-button, 
html[lang="en"] .mat-list-item, 
html[lang="en"] .mat-list-option, 
html[lang="en"] .mat-card-title, 
html[lang="en"] .product-dates, 
html[lang="en"] .mat-h1, 
html[lang="en"] .mat-h3, 
html[lang="en"] .mat-dialog-title, 
html[lang="en"] h3.rate-plan-title, 
html[lang="en"] .mat-subheading-2, 
html[lang="en"] .card-content *, 
html[lang="en"] .mobile-top span, 
html[lang="en"] .mat-card-content, 
html[lang="en"] .mat-checkbox, 
html[lang="en"] .invoice-container *,
html[lang="en"] .mat-headline,
html[lang="en"] .rate-plan-subtitle, 
html[lang="en"] .product-description, 
html[lang="en"] .checkout-room-description, 
html[lang="en"] .checkout-vendor-info, 
html[lang="en"] .side-cart .summary-row {
    @include main-font();
    font-weight: 400 !important;
    @include black-text();
}

html[lang="en"] body, 
html[lang="en"] .mat-body, 
html[lang="en"] .mat-body-1, 
html[lang="en"] .mat-typography, 
html[lang="en"] .mat-form-field, 
html[lang="en"] .mat-button, 
html[lang="en"] .mat-raised-button, 
html[lang="en"] .mat-stroked-button, 
html[lang="en"] .mat-flat-button, 
html[lang="en"] .mat-list-item,
html[lang="en"] .mat-list-option, 
html[lang="en"] .mat-card-title, 
html[lang="en"] .product-dates, 
html[lang="en"] .mat-h1, 
html[lang="en"] .mat-h3, 
html[lang="en"] .mat-dialog-title, 
html[lang="en"] h3.rate-plan-title, 
html[lang="en"] .mat-subheading-2, 
html[lang="en"] .card-content *, 
html[lang="en"] .mobile-top span, 
html[lang="en"] .mat-card-content, 
html[lang="en"] .mat-checkbox, 
html[lang="en"] .invoice-container *{
    @include main-font();
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label, 
.mat-form-field.mat-form-field-invalid .mat-form-field-label.mat-accent, 
.mat-form-field.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker,
.mat-form-field-appearance-outline.mat-focused.mat-warn .mat-form-field-outline-thick, 
.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: #FF0000 !important;
}

.mat-form-field-hide-placeholder .mat-select-placeholder,
mat-label{
    @include main-font();
}

.mat-flat-button.mat-primary{
    @include black-text();;
    @include button();
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 28px;
}

/* end general */


body {
    font-family: 'Montserrat', sans-serif !important;
    @include black-text();
}


/* begin filter search section */
.mobile-top{
    width: 100% !important;
}
.mobile{
   

    // card
    .search-card {
        padding: 0px !important
    }

    // search dialog
    app-search-bar{
        .show-cal-search::before{
            border: 1px solid $secondary-grey-color;
            background-color: transparent !important;
            box-shadow: 0px 2px 20px 0px #0000001F;
        }

        .title-cal-search{
            > div{
                @include second-font();
            }
        }

        .search-dates {
            max-width: none !important;

            .mat-date-range-input-wrapper {
                flex: none !important;
            }
        }

        .search-discount-code{
            max-width: none !important;
        }

        .search-discount-code mat-label{
            text-transform: capitalize !important;
        }
    }

    // input
    mat-label{
        text-transform: capitalize!important;

        > span{
            text-transform: capitalize!important;
        }
    }

    // book button
    #add-product{
        width: 100% !important;
    }

    .product-dates{
        text-align: left !important;
    }

    // cart checkout
    mat-expansion-panel{
        .basket-icon{
            margin-right: 10px;
        }

        .basket-text{
            @include sub-header();
        }

        .mat-expansion-panel-body{
            > div{
                align-items: baseline;
                >p{
                    @include header;
                }
            }
        }

        .sl{
            margin-top: 10px;
        }
    }

    app-payment-schedule .payment-schedule-container mat-icon{
        width: 18px !important;
        height: 18px !important;
    }
}

.basket-text{
    @include second-font();
}

@media screen and (max-width: 400px){
    .filter-container{
        width: 100% !important;
        max-width: calc(100vw - 66px) !important;
    }
   
}
#mobileLang{
    border-radius: 0 !important;
}
.show-search-extended{
    border-radius: 0 !important;
    background-color: #A1A1AA !important;

    span.edit-search{
        margin-left: 0.7rem;
        color: white !important;
        @include body-text();
        text-transform: capitalize !important;
    }

    .mat-icon{
        color: white !important;
    }
}

.show-search-extended:has(.add-code){
    background: #F3CB9F !important;

    span{
        @include caption();
        text-transform: capitalize !important;
    }
}

.open-filter-button {
    padding: 12px 10px !important;
    @include black-text();
    border: 1px solid $secondary-grey-color !important;
}

.open-filter-button.active{
    border-radius: 0;
    border: 1px solid $secondary-orange-color !important;
}

.mat-form-field-outline-start,
.mat-form-field-outline-end{
    border-radius: 0 !important;
}

mat-label{
    font-size: 10px;
}

// calendar
.mat-datepicker-content .mat-calendar{
    height: fit-content !important;
}

.mat-calendar *{
    @include main-font();

    .mat-calendar-controls{
        .mdc-button__label{
            span{
                @include body-text();
                text-transform: lowercase;
                line-height: 20px;
            }  

            &::first-letter{
                text-transform: uppercase;
            }

        }
    }
}

.search-dates{
    max-width: fit-content !important;

    .mat-date-range-input-wrapper{
        flex: 1
    }    

    mat-datepicker-toggle > button{
        width: fit-content !important;
        height: fit-content !important;
        vertical-align: bottom !important;
        padding: 0 !important;
        margin-left: 10px;
    }
}

.mat-calendar-content{
    td.mat-calendar-body-label {
        @include body-text();
        text-transform: lowercase;

        &::first-letter{
            text-transform: uppercase;
        }
    }
}

.mat-calendar-body-cell-content{
    border-radius: 0 !important;
}

.mat-date-range-input-wrapper{
    max-width: calc(55% - 4px) !important;
}

.mat-date-range-input input{
    @include black-text();
    @include header();
}



// input
.mat-form-field-label{
    text-transform: uppercase;
    @include title();
    @include black-text();
    letter-spacing: 0.15em;
}

.mat-select-value-text{
    @include header();
}



app-search-card.ng-star-inserted{
    &:hover{
        background: $secondary-grey-color;

        button{
            background-color: $primary-black-color;
            color: white;
        }
    }
    
}

.mat-body p, .mat-body-1 p, .mat-typography .mat-body p, .mat-typography .mat-body-1 p, .mat-typography p{
    margin: 0;
}
// guest 
.search-location.mat-focused{
    .mat-select-arrow-wrapper{
        transform: rotate(45deg) translateY(-25%) !important; 
    }
}

.search-guests,
.search-guests.mat-focused{
    .mat-select-arrow-wrapper{
        height: fit-content;
    }
}
.mat-option:hover .mat-option-text {
    text-decoration: underline;
}

.mat-option{
    background-color: transparent !important;
    text-underline-offset: 2px;
}

.mat-selected{
    @include body-text();
}

.mat-selected[aria-selected="true"]{
    @include black-text();
    background-color: transparent !important;
}

.mat-select-arrow{
    @include black-text();
    transform: rotate(45deg);
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 2px solid black !important;
}

// language
.search-card.focused[_ngcontent-wnk-c35]{
    background: transparent !important;
}

#desktopLang{
    border-radius: 0;
    line-height: 20px;
    letter-spacing: 0.15em;
}
.mat-stroked-button.mat-primary{
    @include body-text();
    @include black-text();
    border: 1px solid $primary-black-color;
    background: $secondary-white-color;
    padding: 12px;
}

.mat-stroked-button.mat-primary[aria-expanded="true"]{
    border: 1px solid $secondary-orange-color !important;
}

.mat-menu-item{
    @include body-text();
    @include black-text();
    font-family: 'Microsoft YaHei', sans-serif !important;
    text-underline-offset: 4px;
    display: inline-block;
    position: relative;

    &:hover{
        @include hover-underline();
    }

    &:hover:after {
        @include hover-underline();
    }
}

.mat-menu-panel{
    border-radius: 0 !important;
}

// discount code
.mat-form-field-appearance-outline .mat-form-field-label {
    margin-top: 0!important;
}

.search-discount-code{
    max-width: 190px !important;
}

.search-location{
    max-width: 115px !important;
}

.search-discount-code,
.search-location{
    &.mat-focused{
        margin-top: -2px;
        .mat-form-field-label-wrapper{
            padding-top: 1.84375em !important; 
        }
    }
}
mat-form-field.search-discount-code{
    .mat-form-field-infix{
        padding: 0.8em 0 !important;
    }

}

// search
.open-filter-button .ng-star-inserted {
    @include body-text();
}

.mat-button-wrapper span{
    text-transform: uppercase;
}

#searchBarSubmitBtn{
    @include button();
    @include black-text();
    line-height: 28px;
    letter-spacing: 0.15em;
    flex: none;
    padding: 0.625rem 1.5rem !important;
    flex: none !important;
}
/* end filter search section */


/* begin filter list section */
.mdc-slider__track--active_fill,
.mat-mdc-slider .mdc-slider__track--inactive{
    border-color: $primary-black-color !important;
}

.filter-container{
    top: 64px !important;
}
.mat-card{
    @include main-font();
}
.open-filter-button.active,
.mdc-evolution-chip__text-label,
.mdc-evolution-chip__action[aria-selected=false] .mdc-evolution-chip__text-label,
.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__checkmark{
    @include black-text();
}

app-search-filter-bar{
    button{
        border-radius: 0 !important;
    }

    .title{
        align-items: center !important;
    
        > span{
            @include sub-header();
        }
    
        button{
            top: auto !important;
        }
    }
}

app-search-filter{
    .title{
        font-size: 24px !important;
    }
    mat-icon{
        @include black-text();
    }
}


app-search-filter-window{
    .filter-container{
        box-sizing: content-box;
        width: auto !important;
    }

    .mat-card{
        .title{
            @include sub-header();
            font-size: 24px !important;
        }
    }

    mat-card-actions{
        .mat-focus-indicator{
            margin-left: 30px;
            padding: 13.5px 16px !important;
    
            .mat-button-wrapper{
                letter-spacing: 0.15em;
            }
        }
    }
    
}



.filter .subtitle{
    @include black-text();
    @include title();
    line-height: 15px;
    letter-spacing: 0.15em !important;
    text-transform: uppercase;
} 

.mat-mdc-standard-chip {
    @include button();
    background-color: $secondary-grey-color !important;
    padding: 0;
}

.mat-mdc-chip-selected{
    background-color: $secondary-orange-color !important;
}

.mat-mdc-chip-action-label{
    @include body-text();
}

html[lang="en"] mat-chip-option{
    padding: 14px 16px !important;

    .mat-mdc-chip-graphic{
        padding-left: 0 !important;
    }

    .mdc-evolution-chip__action{
        padding-right: 0 !important;
    }

    .mdc-evolution-chip__text-label{
        margin-bottom: 0 !important;
    }

    button[aria-selected="false"] .mdc-evolution-chip__action{
        padding-right: 0 !important;
    }
}

// range
html[lang="en"] .mat-mdc-slider .mdc-slider__value-indicator {
    @include main-font();
    opacity: 1 !important;
    background-color: transparent !important;

    span{
        @include black-text();
        @include body-text();
        line-height: 20px;
        font-family: Montserrat;

        &::before{
            display: none;
        }

    }
}

// action
.mat-card-actions{
    &:first-child{
        border: 1px solid $primary-black-color;
        background-color: $secondary-white-color !important;
        text-transform: uppercase;
    }

    button{
        @include title();
        border-radius: 0;
        height: fit-content !important;
        min-height: fit-content !important;
        text-transform: uppercase;

        &.mat-stroked-button{
            padding-top: 12.5px !important;
            padding-bottom: 12.5px !important;
        }
    }

    .mat-button-wrapper{
        @include title();
    }
}

.filter-bar{
    .mat-button-wrapper span{
        text-transform: capitalize;
    }

    .mat-stroked-button.mat-primary{
        background-color: white !important; 
    }
}
/* end filter list section */

/* begin card section */
.search-card {
    padding: 15px !important;
}

.search-card-carousel:not(.mobile){
    height: auto !important;
}

.product-image.ng-star-inserted {
    border-radius: 0!important;
}

.search-card-title{
    @include sub-header();
    margin-bottom: 20px !important;
}

.search-card-desc{
    @include body-text();
    @include black-text();
    margin-bottom: 20px !important;
}

.search-card-from{
    max-width: 55% !important;
    line-height: unset !important;
    font-size: 18px;
}

.per-person{
    @include caption();
    display: block;
    line-height: unset;
}

#searchMoreInfo {
    @include button();
    @include body-text();
    @include black-text();
    @include title();
    text-transform: uppercase;

}

.view-map {
    @include black-text();
    opacity: 1 !important;
}

.search-card.focused[_ngcontent-mhq-c35]{
    @include black-text();
    background-color: #E0E0E0 !important;
    border: none;

    #searchMoreInfo{
        color: white !important;
        background-color: $primary-black-color !important;
    }

    .search-card-from{
       
        span{
            @include black-text();
        }
    }
}
/* end card section */

/* begin map section */
html[lang="en"] .card-content * {
    @include main-font();
}

.card-content{
    @include main-font();
    @include black-text();
    padding: 13px 10px;
    display: flex;
    align-items: center;

    .content-title{
        background: $primary-black-color !important;
        font-size: 10px !important;
        text-transform: uppercase;
        line-height: 28px;
        letter-spacing: 0.15em;
        padding: 10px 20px;
        border-radius: 0;
        top: 100px;
    }

    .actions-text{
        @include black-text();
        margin-right: 15px !important;

        div{
            font-size: 15px;
            font-weight: 500 !important;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
        }
    }

    button{
        @include button();
        font-size: 10px !important;
        padding: 4px 20px !important;  
        line-height: 28px;
        letter-spacing: 0.15em;


        .mat-button-wrapper{
            font-size: 10px;
        }
        
    }

    
    .card-actions{
        margin-top: 0 !important;

        .actions-text{
            font-weight: 500 !important;
        }
    }
    
}


.map-container .map-icon{
    @include body-text();
    @include main-font();
    @include black-text();
    font-size: 15px;
    font-weight: 500;
    border-radius: 0 !important;
}

.gm-style-iw-tc{
    display: none;
}

app-search-card{
    div{
        border-radius: 0 !important;
    }
    
    .search-card-from{
        margin-right: 4px;
        font-weight: 500!important;
    
        span:first-child{
            margin-right: 4px;
        }
    }    
}

map-info-window{
    border-radius: 0 !important;
    .content-title{
        border-radius: 0 !important;
    }

    button{
        padding: 14px 20px !important;
    }
}

.gm-style-iw.gm-style-iw-c,
.gm-style-iw-d{
    max-height: fit-content !important;
    border-radius: 0!important;
}

html[lang=en] .card-content{
    padding: 1em !important;

    .actions-text{
        div{
            span{
                font-weight: 500 !important;
            }
        }
        
    }

    .content-title{
        color: white !important;
    }  
    
}

google-map{
    .content-title{
        border-radius: 0 !important;
    }
}

.map-icon:before, .map-icon-focus:before{
    content: url("https://storage.googleapis.com/theluxenomad-python.appspot.com/assets/roomboss/house-icon.svg") !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
}
/* end map section */


/* begin search list result */
.search-results{
    width: calc(52% - 1em) !important;
}
/* end search list result */



/*==================PROPER PAGE =====================*/
html[lang="en"] h2.product-title, .checkout-room-type{
    @include sub-header();
    line-height: 32px;
}

// search bar
.search-bar{
    .mat-flat-button{
        border-radius: 50%;
    }
}

// description
html[lang="en"] .vendor-description{
    @include body-text();
    @include black-text();
    border-radius: 0 !important;
    background-color: $secondary-grey-color !important;
    line-height: 26px !important;
    letter-spacing: 0 !important;
    padding: 10px 15px;
    margin-top: 20px;
    box-shadow: none !important;
}

.vendor-description[_ngcontent-fmi-c70]{
    box-shadow: none !important;
}

.vendor-description[_ngcontent-lqp-c70]{
    box-shadow: none !important;
}

/* begin hotel card detail section */
html[lang="en"] .checkout-room-description{
    @include body-text();
    opacity: 1;
}

// .checkout{
//     padding-right: 0.5rem !important;
//     padding-left: 0.5rem!important;
// }

html app-cart-product {
    .mat-list-item.cart-item{
        max-width: none !important;
    } 
    
}

app-cart-product .product-features {
    margin-top: 10px !important;
}

app-cart-product,
.product-info-container {
    .product-dates {
        @include caption();
        line-height: 22px;
    }

    .date-message {
        display: none;
    }

    .product-features {
        margin-top: 20px;

        > span {
            @include caption();
            margin-right: 10px;
        }

        .material-icons {
            height: 20px;
            width: 20px;
            font-size: 20px;
            margin-right: 5px !important;
            margin-left: 0px !important;
        }
    }

    .product-description{
        @include black-text();
        @include body-text();
        line-height: 26px;
    }
}

app-product{
    .product-card{
        border-radius: 0 !important;

        .mat-form-field-label{
            @include title();
            line-height: 19px;
            letter-spacing: 0.15em;
        }
    }
}

.rate-plan-price .sl, .cart-item-price .sl[_ngcontent-lqp-c63], .sl {
    font-weight: 500;
    line-height: 22px;
    font-size: 18px !important;
}

.rate-price-container > * {
    @include caption();
    line-height: 22px;
}

.vendor-container{
    .open-gallery{
        @include title();
        text-transform: uppercase;
        font-family: Montserrat;
        line-height: 19px;
        letter-spacing: 0.15em;

        span, .mat-icon{
            @include black-text();
        }
    }

    .title-group{
        border-radius: 0 !important;
        background-color: $primary-black-color !important;
        height: auto !important;
        padding: 10px 20px !important;
        margin: 14px;

        h2{
            @include main-font();
            font-size: 10px !important;
            line-height: 28px !important;
            letter-spacing: 0.15em !important;
            font-weight: 400 !important;
            text-transform: uppercase;
        }
    }
}

.open-gallery{
    border-radius: 0 !important;
    border: 0 !important;
    padding: 0.5rem;
}
.open-gallery > .mat-icon, .open-gallery > span{
    @include black-text();
}

.rack[_ngcontent-lqp-c63]{
    margin-bottom: 0.5em;
}
#add-product{
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: 0;
}

.rate-plan-container[_ngcontent-fmi-c56] {
    align-items: baseline !important;
}

.rate-plan-container{

    .rate-plan-text-container{
        width: calc(75% - 5rem) !important;
        padding-right: 0 !important;

        .rate-plan-subtitle{
            @include body-text();
            white-space: inherit !important;
            line-height: 25.6px;
        }
    
        .rate-plan-title-container{
            h3{
                @include sub-header();
                font-size: 18px !important;
                line-height: 22px !important;
                white-space: inherit !important;
            }
        }

        button{

            mat-icon{
                color: $secondary-orange-color;
            }
        }
    }
    
}
.mat-select-panel{
    border-radius: 0 !important;
}

.mat-form-field.mat-focused {
    .mat-form-field-label{
        color: $secondary-orange-color !important;
    }
    
    .mat-select-arrow-wrapper {
        transform: rotate(45deg) translateY(-25%) !important;
    }
}

/* end hotel card detail section */


/* begin dialog section */
#mat-dialog-title-2{
    @include sub-header();
    font-size: 18px !important;
    line-height: 29px;
    line-height: 29px !important;
}

mat-dialog-actions.mat-dialog-actions.mat-dialog-actions-align-end span{
    @include title();
    text-transform: uppercase;
    line-height: 15px;
    letter-spacing: 0.15em;

    &:hover{
        @include hover-underline();
        text-decoration-color: $secondary-orange-color;
    }
}

mat-dialog-content.mat-dialog-content.mat-typography{
    @include body-text();
    line-height: 26px;
}
/* end dialog section */

/* begin checkout section */
.mat-card-title{
    font-family: Delmon Delicate !important;
    font-size: 22px;
    font-weight: 400;
    line-height: 35px;
}

.mat-list{
    .mat-list-item{

        .cart-room-type{
            @include sub-header();
            font-size: 18px;
            line-height: 21px;
            letter-spacing: -0.5px;

            white-space: inherit !important;
        }

        .summary-row{
            @include body-text();

        }

        .dates-row{
            margin: 1rem 0 !important;
            padding: 0 !important;
        }

        .date-summary{
            @include title();
            font-family: Montserrat;
            line-height: 19px;
            letter-spacing: 0.15em;
            text-transform: uppercase;
        }

        .date{
            @include body-text;
            line-height: 26px;

        }
    }
}

.mat-card-content{
    p{
        @include header();
    }

    > div{
        justify-content: space-between;
        align-items: baseline;
        margin-top: 10px ;
    }

    .cart-total{
        margin-top: 0!important;

        .sl{
            font-size: 22px;
            font-weight: 500;
            line-height: 27px;
        }

        .rack{
            @include title();
            font-weight: 500;
            line-height: 15px;
            margin-bottom: 10px;
            padding: 5px 10px;

        }
    }

    .mat-card-actions{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
.vendor-products-container{
    mat-card-actions{
        margin-bottom: 0 !important;

        .mat-button-wrapper{
            visibility: hidden;
        }

        button{
            font-family: Open Sans;
            font-size: 12px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0.15em;
            text-align: center;

            &::after{
                visibility: visible;
                display: block;
                margin: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            &:not(.mat-button-disabled)::after{
                content:"PROCEED";
            }
        }

        .mat-button-disabled{
            &::after{
                content: "BOOK NOW";
                
            }
        }
    }
}

html[lang=en] .mat-headline{
    color: white !important;
}

html[lang=en] .mat-card-title{
    @include sub-header();
    font-size: 22px !important;
}

app-shopping-cart{
    .mat-card{
        background: white !important;
        border-radius: 0 !important;
        margin-top: 76px;

        &:has(.mat-button-disabled){
            padding: 24px!important;

            .cart-total{
                margin:0 !important;
            }

            .ng-tns-c65-11{
                align-items: baseline;
            }
        }

        .mat-card-actions{
            margin: 20px 0 0 0 !important;
        }
    }
       
}

app-search-bar{
    .mat-flat-button.mat-primary{
        padding: 0!important;
        border-radius: 50% !important;
    }

  
    mat-form-field{
        margin-right: 0.8rem !important;
    }

    #searchBarSubmitBtn{
        margin-left: 0.8rem !important;
    }
}


// ====================================

app-shopping-cart{
    
    .checkout-vendor{
        @include sub-header;
        font-size: 22px !important;
        line-height: 35px;
        padding-bottom: 1.1rem !important;
    }

    .mat-card-content>div{
        p{
            display: none;
        }
    
        .cart-total{
            margin-right: 0 !important
        }
    }

}

html[lang="en"] .rate-plan-info{
    padding-top: 1.6rem !important;
}
.rate-plan-info{ 
    margin-top: 24px!important;;
    margin-bottom: 24px !important;
    border-radius: 0 !important;

    .rate-plan-title{
        @include sub-header;
        font-size: 18px !important;
    }

    .more-info-long{
        margin-top: 24px !important;
        opacity: 1;
        @include black-text;

        p{
            @include body-text;
            line-height: 26px;
        }
    }
}


app-payment-schedule{
    margin-right: 0.5rem;

    .payment-schedule-container{
        padding-bottom: 24px;
        opacity: 1;

        .full-date{
            @include title;
            line-height: 19px;
        }
    
        mat-icon{
            color: $secondary-orange-color !important;
            width: 14px !important;
            height: 14px !important;
            font-size: 14px !important;
        }
    }
    
}


// form
html[lang="en"] .mat-h1{
    @include sub-header();
    font-size: 22px !important;
}

input.mat-input-element {
    margin-top: 0 !important;
}

app-customer-form{
    mat-checkbox{
        .mat-checkbox-label{
            @include caption;
            line-height: 19px;

        }

        .mat-checkbox-inner-container{
            .mat-checkbox-frame{
                border-color: $primary-black-color;
            }

            .mat-checkbox-checkmark{
                fill: $secondary-orange-color;
                border-radius: 0 !important;
            }
            
            .mat-checkbox-checkmark-path {
                stroke: $secondary-orange-color!important;
            }
        }

    
    }

    mat-label{
        text-transform: uppercase !important;
    }

    .button-container{
        display: flex;
        align-items: center;

        button:not(.mobile){
            min-width: 25rem !important;
            margin-left: 30px !important;
        }
    }
}


.mat-form-field-infix {
    input, mat-label{
        @include header();
        text-transform: capitalize;
    }
}


//=========================BOOKING PAGE=========================
// top menu
div#base_page\:locform\:languageSelect{

    div#base_page\:locform\:languageSelect_input-button{
        @include button();
        background-color: $secondary-orange-color;
        opacity: 1;
       

        span{
            @include title();
            @include black-text();
            line-height: 19px;
            letter-spacing: 0.15em !important;
            text-transform: uppercase;
        }

        .ui-btn-icon-right:after{
            background: transparent !important;
            @include body-text();
        }
    }
    

}
// message 
.rbn-yb-searchtext{
    @include body-text();
    text-align: center;
    margin-top: 1.8rem;
    max-width: 949px;
    display: block;
    margin: auto;
}

// infor
form#base_page\:gform{
    margin-top: 2.5rem;

    .ui-btn.ui-input-btn.ui-corner-all.ui-shadow{
        @include button();
        @include title();
    }

    .ui-field-contain{
        display: flex;
        align-items: center;

        .ui-input-text{
            @include input;
            @include body-text();
            color: $dark-grey;
            padding: 12px 15px;
        }

        input{ 
            @include main-font();
            padding: 0 !important;
        }
    
        label{
            @include title();
            letter-spacing: 0.15em;
            text-transform: uppercase;
        }
    }

}

div#base_page\:j_idt43{
    margin-top: 2.5rem;
    margin-bottom: 3.1rem;

    span::after{
        @include body-text();
        line-height: 26px;
        display: block;
        margin-top: 1rem;
        content: "Scroll down to view reservations and payment status.";
    }
}

// table
.table-stripe tbody tr:nth-child(odd) td, .table-stripe tbody tr:nth-child(odd) th {
    background: $secondary-light-grey-color !important;
  }
  
.table-stripe tbody tr:nth-child(even) td, .table-stripe tbody tr:nth-child(even) th {
    background: $secondary-grey-color !important;
}
  
table{
    thead{
        .ui-column-header{
            vertical-align: middle;
            background-color: $secondary-grey-color;
            padding: 1rem 0.625rem !important;
            .ui-column-title{
                @include title;
                text-transform: uppercase;
                letter-spacing: 0.15em;
        
            }
        }
        
    }

    tbody{
        .ui-table-row{
            span{
                @include body-text();
            }
        }

        td{
            vertical-align: middle;
        }
    }

}

.ui-page-theme-a .ui-btn, 
html .ui-bar-a .ui-btn, 
html .ui-body-a .ui-btn, 
html body .ui-group-theme-a .ui-btn, 
html head + body .ui-btn.ui-btn-a, 
.ui-page-theme-a .ui-btn:visited, 
html .ui-bar-a .ui-btn:visited, 
html .ui-body-a .ui-btn:visited, 
html body .ui-group-theme-a .ui-btn:visited, 
html head + body .ui-btn.ui-btn-a:visited {
    border-color: $secondary-grey-color;
  }

.table-stroke thead th, .table-stripe thead th, 
.table-stripe tbody tr:last-child{
    border-bottom: 0 !important;
}


div#base_page\:postab,
div#base_page\:ttab{

    .ui-link{
        text-decoration: none;
        font-weight: 400!important;
    }
}

div#base_page\:ttab{
    margin-top: 2rem;
}

div#base_page\:tabview{
    margin-top: 2.5rem;

    .accordion-title span{
        @include body-text();
    }

    a.ui-collapsible-heading-toggle {
        padding: 1.25rem;
        padding-left: 3.5rem !important;
    }

    .ui-icon-plus:after {
        background-color: $dark-grey !important;
    }

    .ui-btn-icon-left:after{
        left: 1.25rem !important;
    }

    .accordion-status-block{

        .accordion-status{
            @include title();
            color: white;
            text-transform: capitalize;
            padding: 0.8rem 1.25rem !important;

            &.res{
                background-color: $success-color !important;
            }
    
            &.na{
                background-color: $fail-color !important;
            }
        }

        
    }
}

// information
div#base_page\:vendorMessagePanel{
    border-radius: 0 !important;

    .ui-panel-m-titlebar{
        background-color: $dark-grey;
        h3{
            @include sub-header();
            @include main-font();
            color: white !important;
           
        }
    }

    .ui-panel-m-content {
        background: transparent !important;
        min-height: 70px; 
    }
}

div#base_page\:txtab{
    margin-top: 2.5rem;

    .ui-link{
        font-weight: 400!important;
    }

    .ui-column-header{
        text-align: center;
    }

   
    .ui-table-row{
        td{
            text-align: center;
            vertical-align: middle;
        }
    }
}


// footer
.rb-footer{
    display: none;
}