// font 
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.cdnfonts.com/css/delmon-delicate');
@import url('https://fonts.cdnfonts.com/css/microsoft-yahei');

$primary-sea-color: #79A2AA;
$primary-brown-color: #625956;
$primary-black-color: #18181B;

$secondary-yellow-color: #FFD075;
$secondary-orange-color: #F89426;
$secondary-beige-color: #F9F6F0;
$secondary-white-color: #FFFDFA;
$secondary-grey-color: #DCDDDE;

@mixin main-font{
    font-family: Montserrat !important;
}

@mixin small-title {
    font-size: 6px !important;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.15em;
    text-align: right;    
}

@mixin header {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
}

@mixin sub-header{
    font-family: Delmon Delicate !important;
    font-size: 20px !important;
    font-weight: 400;
}

@mixin body-text{
    font-family: Montserrat;
    font-size: 16px !important;
    font-weight: 400;
    line-height: 26px;
}

@mixin caption{
    font-family: Montserrat;
    font-size: 14px !important;
    font-weight: 300;
    line-height: 17px;
}

@mixin title{
    font-family: Montserrat;
    font-size: 12px !important;
    font-weight: 400;
    line-height: 17px;
}

@mixin button{
    border: none !important;
    padding: 10px 25px;
	background-color: $secondary-orange-color !important;
    border-radius: 0 !important;
    text-transform: uppercase;
}

@mixin black-text{
    color: $primary-black-color !important;
}

@mixin hover-underline{
    background-color: transparent !important;
    text-decoration: underline;
    transition: 0.3s;
    text-underline-offset: 4px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* begin general */
html[lang="en"] body, 
html[lang="en"] .mat-body, 
html[lang="en"] .mat-body-1, 
html[lang="en"] .mat-typography, 
html[lang="en"] .mat-form-field, 
html[lang="en"] .mat-button, 
html[lang="en"] .mat-raised-button, 
html[lang="en"] .mat-stroked-button, 
html[lang="en"] .mat-flat-button, 
html[lang="en"] .mat-list-item, 
html[lang="en"] .mat-list-option, 
html[lang="en"] .mat-card-title, 
html[lang="en"] .product-dates, 
html[lang="en"] .mat-h1, 
html[lang="en"] .mat-h3, 
html[lang="en"] .mat-dialog-title, 
html[lang="en"] h3.rate-plan-title, 
html[lang="en"] .mat-subheading-2, 
html[lang="en"] .card-content *, 
html[lang="en"] .mobile-top span, 
html[lang="en"] .mat-card-content, 
html[lang="en"] .mat-checkbox, 
html[lang="en"] .invoice-container *,
html[lang="en"] .mat-headline {
    font-family: Montserrat !important;
    font-weight: 400 !important;
}

.mat-flat-button.mat-primary{
    @include black-text();;
    @include button();
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 28px;
}

/* end general */


body {
    font-family: 'Montserrat', sans-serif !important;
    @include black-text();
}

/* begin filter search section */
.mobile-top{
    width: 100%;
}

.open-filter-button {
    padding: 12px 10px !important;
    @include black-text();
    border: 1px solid $secondary-grey-color !important;
}

.open-filter-button.active{
    border: 1px solid $secondary-orange-color !important;
}

.mat-form-field-outline-start,
.mat-form-field-outline-end{
    border-radius: 0 !important;
}

// calendar
.mat-calendar *{
    font-family: Montserrat !important;
}

.mat-calendar-body-cell-content{
    border-radius: 0 !important;
}

.mat-date-range-input-wrapper{
    max-width: calc(55% - 4px) !important;
}

.mat-date-range-input input{
    @include black-text();
    @include header();
}

// input
.mat-form-field-label{
    text-transform: uppercase;
    @include title();
    @include black-text();
    letter-spacing: 0.15em;
}

.mat-select-value-text{
    @include header();
}

.mat-menu-item:hover:after {
    @include hover-underline();
}

// guest 
.mat-option:hover .mat-option-text {
    text-decoration: underline;
}

.mat-option{
    background-color: transparent !important;
    text-underline-offset: 2px;
}

.mat-selected{
    @include body-text();
}

.mat-selected[aria-selected="true"]{
    @include black-text();
    background-color: transparent !important;
}

.mat-select-arrow{
    @include black-text();
    transform: rotate(45deg);
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 2px solid black !important;
}

// language
#desktopLang{
    border-radius: 0;
    line-height: 20px;
    letter-spacing: 0.15em;
}
.mat-stroked-button.mat-primary{
    @include body-text();
    @include black-text();
    border: 1px solid $primary-black-color;
    background: $secondary-white-color;
    padding: 12px;
}

.mat-stroked-button.mat-primary[aria-expanded="true"]{
    border: 1px solid $secondary-orange-color !important;
}

.mat-menu-item{
    @include body-text();
    @include black-text();
    font-family: 'Microsoft YaHei', sans-serif !important;
    text-underline-offset: 4px;
    display: inline-block;
    position: relative;
}

.mat-menu-item:hover{
    @include hover-underline();
}

.mat-menu-panel{
    border-radius: 0 !important;
}
// search
.open-filter-button .ng-star-inserted {
    @include body-text();
}

.mat-button-wrapper span{
    text-transform: uppercase;
}

#searchBarSubmitBtn{
    @include button();
    @include black-text();
    line-height: 28px;
    letter-spacing: 0.15em;
    flex: none;
}
/* end filter search section */


/* begin filter list section */
.mdc-slider__track--active_fill,
.mat-mdc-slider .mdc-slider__track--inactive{
    border-color: $primary-black-color !important;
}

.mat-card{
    font-family: Montserrat !important;
}
.open-filter-button.active,
.mdc-evolution-chip__text-label,
.mdc-evolution-chip__action[aria-selected=false] .mdc-evolution-chip__text-label,
.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__checkmark{
    @include black-text();
}

.title > span{
    @include sub-header();
}

.filter .subtitle{
    @include black-text();
    @include title();
    line-height: 15px;
    letter-spacing: 0.15em !important;
    text-transform: uppercase;
} 

.mat-mdc-standard-chip {
    @include button();
    background-color: $secondary-grey-color !important;
    padding: 0;
}

.mat-mdc-chip-selected{
    background-color: $secondary-orange-color !important;
}

.mat-mdc-chip-action-label{
    @include body-text();
}

// range
.mat-mdc-slider .mdc-slider__value-indicator{
    @include black-text();
    opacity: 1;
    background-color: transparent;
    
}

.mdc-slider__value-indicator-text{
    font-family: Montserrat !important;
    @include body-text();
}

.mdc-slider .mdc-slider__value-indicator::before{
    border: none;
}

mat-slider.mat-mdc-slider.mdc-slider.mat-primary.mdc-slider--discrete.mdc-slider--range .mdc-slider__value-indicator-text{
    font-family: Montserrat !important;
    @include body-text();
}

// action
.mat-card-actions:first-child{
    border: 1px solid $primary-black-color;
    background-color: $secondary-white-color !important;
    text-transform: uppercase;
}

.mat-card-actions button{
    @include title();
    border-radius: 0;
    height: fit-content !important;
    min-height: fit-content !important;
    text-transform: uppercase;
}

.mat-card-actions button .mat-button-wrapper{
    @include title();
}

.filter-bar .mat-button-wrapper span{
    text-transform: capitalize;
}

.filter-bar .mat-stroked-button.mat-primary{
    background-color: white !important; 
}

/* end filter list section */

/* begin card section */
.search-card {
    padding: 15px !important;
}

.search-card-carousel{
    height: auto !important;
}

.product-image.ng-star-inserted {
    border-radius: 0!important;
}

.search-card-title{
    @include sub-header();
    margin-bottom: 20px !important;
}

.search-card-desc{
    @include body-text();
    @include black-text();
    margin-bottom: 20px !important;
}

.search-card-from{
    max-width: 55% !important;
    line-height: unset !important;
    font-size: 18px;
    display: flex;
    align-items: self-end;
}

.per-person{
    @include caption();
    line-height: unset;
    padding-right: 4px;
    order: -1;
}

#searchMoreInfo {
    @include button();
    @include body-text();
    @include black-text();
    @include title();
    text-transform: uppercase;

}

.view-map {
    @include black-text();
    opacity: 1 !important;
}

.search-card.focused[_ngcontent-mhq-c35]{
    @include black-text();
    background-color: white;

    .search-card-from{
        span{
            @include black-text();
        }
    }
}
/* end card section */

/* begin map section */
html[lang="en"] .card-content * {
    font-family: Montserrat !important;
}

.card-content{
    @include main-font();
    @include black-text();
    padding: 13px 10px;

    .content-title{
        background: $primary-black-color !important;
        font-size: 10px !important;
        text-transform: uppercase;
        line-height: 28px;
        letter-spacing: 0.15em;
        padding: 10px 20px;
        border-radius: 0;
        top: 100px;
    }

    .actions-text{
        @include black-text();
        margin-right: 15px !important;

        div{
            font-size: 15px;
            font-weight: 500 !important;
            line-height: 16px;
            letter-spacing: 0em;
            text-align: left;
        }
    }

    button{
        @include button();
        font-size: 10px !important;
        padding: 14px 20px !important;

        .mat-button-wrapper{
            font-size: 10px;
        }
        
    }

    .card-actions{
        margin-top: 0 !important;
    }
}

.map-container .map-icon{
    @include body-text();
    @include main-font();
    @include black-text();
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
}

.gm-style-iw-d{
    max-height: fit-content !important;
}

.gm-style-iw-tc{
    display: none;
}
/* end map section */


/* begin search list result */
.search-results{
    width: calc(52% - 1em) !important;
}
/* end search list result */



/*==================PROPER PAGE =====================*/
html[lang="en"] h2.product-title{
    @include sub-header();
    line-height: 32px;
}

// search bar
.search-bar{
    .mat-flat-button{
        border-radius: 50%;
    }
}

// description
.vendor-description{
    @include body-text();
    @include black-text();
    border-radius: 0 !important;
    background-color: $secondary-grey-color !important;
    line-height: 26px !important;
    letter-spacing: 0 !important;
    padding: 10px 15px;
    margin-top: 20px;
}

.vendor-description[_ngcontent-lqp-c70]{
    box-shadow: none !important;
}

/* begin hotel card detail section */
.product-info-container {
    .product-dates {
        @include caption();
        line-height: 22px;
    }

    .date-message {
        display: none;
    }

    .product-features {
        margin-top: 20px;

        > span {
            @include caption();
        }

        .material-icons {
            height: 20px;
            width: 20px;
            font-size: 20px;
        }
    }

    .rate-price-container > p {
        @include caption();
        line-height: 22px;
    }

    .rate-plan-price {
        font-weight: 500;

        .rack {
            line-height: 19px;  
        }
        

        .sl {
            margin-top: 1em;
            font-size: 18px;
            line-height: 29px;
        }
    }
}

.vendor-container{
    .open-gallery{
        @include title();
        text-transform: uppercase;
        font-family: Montserrat;
        line-height: 19px;
        letter-spacing: 0.15em;

        span, .mat-icon{
            @include black-text();
        }
    }

    .title-group{
        border-radius: 0;
        background-color: $primary-black-color;
        height: auto !important;
        padding: 10px 20px !important;
        margin: 14px;

        h2{
            @include main-font();
            font-size: 10px !important;
            line-height: 28px !important;
            letter-spacing: 0.15em !important;
            font-weight: 400 !important;
        }
    }
}

.open-gallery{
    border-radius: 0 !important;
    border: 0 !important;
    padding: 0.5rem;
}

.rack[_ngcontent-lqp-c63]{
    margin-bottom: 0.5em;
}
#add-product{
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: 0;
}

.rate-plan-container{
    .rate-plan-text-container{
        padding-right: 0 !important;

        .rate-plan-subtitle{
            @include body-text();
            white-space: inherit !important;
            line-height: 25.6px;
        }
    
        .rate-plan-title-container{
            h3{
                @include sub-header();
                font-size: 18px;
                line-height: 22px !important;
                white-space: inherit !important;
            }
        }

        button{

            mat-icon{
                color: $secondary-orange-color;
            }
        }
    }
    
}

/* end hotel card detail section */


/* begin dialog section */
.mat-dialog-title{
    h2{
        @include sub-header();
        font-size: 18px;
        line-height: 29px;

    }
}
mat-dialog-actions.mat-dialog-actions.mat-dialog-actions-align-end span{
    @include title();
    line-height: 15px;
    letter-spacing: 0.15em;
}

mat-dialog-actions.mat-dialog-actions.mat-dialog-actions-align-end:hover{
    @include hover-underline();
}
/* end dialog section */

/* begin checkout section */
.mat-card-title{
    font-family: Delmon Delicate;
    font-size: 22px;
    font-weight: 400;
    line-height: 35px;

}

.mat-list{
    .mat-list-item{

        .cart-room-type{
            @include sub-header();
            font-size: 18px;
            line-height: 21px;
            letter-spacing: -0.5px;

            white-space: inherit !important;
        }

        .summary-row{
            @include body-text();
        }

        .date-summary{
            @include title();
            font-family: Montserrat;
            line-height: 19px;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            margin-top: 1.125rem;

        }
    }
}

.mat-card-content{
    p{
        @include header();
    }

    > div{
        justify-content: space-between;
        align-items: baseline;
    }

    .cart-total{
        .sl{
            font-size: 22px;
            font-weight: 500;
            line-height: 27px;
        }

        .rack{
            @include title();
            font-weight: 500;
            line-height: 15px;
            margin-bottom: 10px;
            padding: 5px 10px;

        }
    }
}
/* end checkout section */