.ui-header.ui-bar-inherit {
	background-color: #3388cc;
	border-color: #3388cc;
	color: #fff;
	text-shadow: 0 1px 0 #005599;
}

/* Control width wider screens #4600. See ticket before reducing width. Client impact. */
.ui-content {
	margin: 0 auto;
	position: relative;
	max-width: 1280px;
}

.rbn-yb-h1 {
	margin-top: 1em;
	margin-bottom: 0.8em;
	font-size: x-large;
	text-align: center;
}

.ui-datatable, .ui-accordion, .ui-panel-m {
	margin-top: 1.5em;
}

.ui-tabs-panels>div {
	padding-bottom: 0;
}

.rbn-bold {
	font-weight: bold;
}

.ui-footer {
	font-size: x-small;
	text-align: center;
	padding: 0.4em 0;
}

.ui-footer.ui-bar-inherit{
	background-color: #d6d6d6;
	color: white;
	text-shadow: none;
	border: none;
}

/* Cost */
@media ( min-width : 561px) {
	td.right {
		float: none;
		text-align: right;
	}
}

.ui-column-header.right {
	border-bottom: none;
}

/* Scroll to pay */
#scrollToPay {
	display: flex;
	align-items: center;
	position:fixed;
	margin-top: 0;
	transition: ease-out .25s;
	bottom: .25em;
	right: calc(50vw - 58px);
	z-index: 9999;
	font-weight: 700;
    height: 30px;
    padding: .5em .6em;
	box-shadow:
  		0 4.5px 3.6px rgba(0, 0, 0, 0.024),
		0 12.5px 10px rgba(0, 0, 0, 0.035),
  		0 30.1px 24.1px rgba(0, 0, 0, 0.046),
  		0 100px 80px rgba(0, 0, 0, 0.07);
 	backface-visibility: hidden;
 	transform: translateZ(0);
 	-webkit-font-smoothing: subpixel-antialiased;
}
#scrollToPay label {
	margin-bottom: 0;
    position: relative;
    backface-visibility: hidden;
    transform: translateZ(0);
    -webkit-font-smoothing: subpixel-antialiased;
}
#scrollToPay label:after {
content: "\f107";
    display: inline-block;
    font-family: "FontAwesome";   
}
#scrollToPay:hover {
	background: #ededed;
}

/* Animate 
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}*/


/*.pulse {
	-webkit-animation: pulse 2s ease-in-out 1s infinite both;
	        animation: pulse 2s ease-in-out 1s infinite both;
}*/

.meal-icon {
	margin-right: 4px;
	margin-left: 3px;
	margin-bottom: -2px;
}

/* v2 */
.rbn-tab-img {
	margin-right: 6px;
	vertical-align: middle;
}
.accordion-bar-content {
	width: 100%;
}
.accordion-bar-content > tbody > tr > td:nth-child(1) {
	width: 90px;
}
.accordion-bar-content > tbody > tr > td:nth-child(3) {
	text-align: right;
}
.no-image {
	border: 2px solid #dddddd !important;
}
.rb-notconfbook {
	margin-top: .5rem;
	color: rgba(113, 128, 150, 1);
	font-weight: 300;
	font-size: 0.8rem;
	line-height: normal;
}

.accordion-status {
	border-radius: 9999px;
	--bg-opacity: 1;
	background-color: #4299e1;
	background-color: rgba(66, 153, 225);
	--text-opacity: 1;
	color: #fff;
	color: rgba(255, 255, 255);
	text-transform: uppercase;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	font-size: 0.75rem;
	font-weight: 400;
	float: right;
	margin: .275rem 0;
	text-align: center;
	text-shadow: none;
	white-space: normal;
}
.res {
	background-color: #10B981;
	background-color: rgba(16, 185, 129);
}
.na {
	background-color: #f87171;
	background-color: rgba(248, 113, 113);
}
.accordion-status-info {
	clear: both;
	float: right;
	color: #718096;
	color: rgba(113, 128, 150, 1);
	font-weight: 300;
	font-size: 0.8rem;
	margin-top: .1rem;
	max-width: 175px;
	white-space: normal;
}
.accordion-title {
	white-space: normal;
}
@media screen and (max-width: 768px) {
	.ui-accordion-header {
		padding-top: .8rem !important;
	}
	.accordion-bar-content tr {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.accordion-bar-content td {
		order: 0;
	}
	.accordion-bar-content td:nth-child(1) {
		flex-grow: 1;
	}
	.accordion-bar-content td:nth-child(2) {
		order: 2;
		width: 100%;
		margin-top: .5rem;
	}
	.accordion-bar-content td:nth-child(3) {
		flex-shrink: 1;
		flex-grow: 1;
		max-width: 100%;
	}
} 
