body {
	margin: 0px;
}

.rb-body-content {
	margin: 8px;
}

#ajaxLoader {
	border-radius: 20%;
}
#ajaxLoader > .ui-dialog-content {
	padding: 8px 8px 3px 8px;
	background: #ffffff !important;
}

#ajaxLoader {
	border-radius: 20% !important;
}
#ajaxLoader > .ui-dialog-content {
	padding: 8px 8px 3px 8px !important;
	background: #ffffff !important;
}